@charset "utf-8";

@import "vendor/reset";
@import "vendor/all";
@import "../node_modules/rfs/scss";
@import "utilities/all";
@import "base/all";
@import "layout/all";
@import "components/all";

#block-breadcrumbs {
}

.wolff-article {
  header {
    background: $wolff;
  }
  background: $wolff;
  color: darken($white, 7%);
}
