@charset "utf-8";

@import "vendor/reset";
@import "vendor/all";
@import "../node_modules/rfs/scss";
@import "utilities/all";
@import "base/all";
@import "layout/all";
@import "components/all";

#block-breadcrumbs {
}

.wolff-article {
  header {
    background: $wolff;
  }
  background: $wolff;
  color: darken($white, 7%);
}

.region__footer {
  background: gray !important;
  color: $black;
  h2 {
    font-size: 1rem !important;
  }
}

.type {
  font-family: serif;
  font-size: 1rem;
}

nav {
  background: red;

  padding: 1rem;
  .breadcrumb {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }
}
