

@mixin links($link, $visited, $hover, $active, $box-shadow) {
  & {
    color: $link;
    text-decoration: none;
    box-shadow: $box-shadow;
    padding: 0;

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
    }

    &:active,
    &:focus {
      color: $active;
    }
  }
}
