// content/content
.node--type-article article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .group-header {
    flex-wrap: wrap;
  }

  .group-left {
    flex: 1 1 20%;
    margin: 1rem;
    padding: 1rem;
  }

  .group-right {
    flex: 1 0 60%;
    margin: 1rem;
    padding: 1rem;
  }
}

.page-node-type-article {
  .group-header {}

  .group-right {}

  .group-left {}
}

.page-node-type-article {

  .field-article-formatted-title,
  .field-article-primary-author {
    text-align: center;
  }

  .field-article-pre-title {
    padding: 0 1rem;

    text-align: left;

    border-bottom: 1px solid $black;

    font-family: $serif-font;
    font-size: 2rem;
    line-height: 1.2;
  }

  .field-article-formatted-title {
    text-transform: uppercase;

    font-family: $serif-font;
    font-size: 4rem;
    line-height: 0.9;
  }

  .field-article-primary-author {
    font-family: $sans-font;
    font-size: 2rem;
    line-height: 1;
  }

  .field-section-title {
    padding-left: 3rem;

    text-transform: uppercase;

    font-family: $sans-font;
  }

  em,
  .drop-quote {
    margin-bottom: 1rem;
  }

  .drop-quote .field-body {
    font-family: $body-font-italic;
  }

  .drop-quote .field-body,
  .drop-quote .field-credit {
    padding-left: 3rem;
  }

  .page-section {
    text-align: justify;

    font-family: $serif-font;
    line-height: 1.1;

  }

  .page-section .field-body p {
    text-align-last: left;
    text-indent: 3rem;
    text-justify: distribute;
    word-spacing: 0.1ch;
    font-size: ms(2);
  }
}
