// base
$whitest: white;
$white: hsla(0, 0%, 100%, 1);
$yellow: #fffbbd;
$blue: #0020d6;
$black: #000;
$medium-white: darken($white, 1%);
$dark-white: darken($white, 25%);
$light-gray: lighten($black, 90%);
$medium-gray: lighten($black, 60%);
$dark-gray: lighten($black, 40%);
$darker-gray: lighten($black, 20%);

// default color scheme
$background: $white;
$default-text: $black;
$default-link: $black;
$default-visited: $medium-gray;
$default-hover: $medium-gray;
$default-active: $medium-gray;

$footer-link: $yellow;
$footer-nav-link: $dark-gray;
$footer-nav-hover: $blue;

// issue theme keys
$sun-ra: #bc371f;
$alien: #676060;
$hyla: #664d94;
$change: #002e6f;
$just-intonation: #8e3161;
$place: #013220;
$big-band: #d88b3d;
$mumei: red;
$braxton: #331e36;
$braxton: blue;
$propaganda: #f8333c;
$cherry: #9a2a1d;
$listeners: gray;
$treatise: #25283d;
$ritual: #f8333c;

$themes: (
  hyla: $hyla,
  change: $change,
  just-intonation: $just-intonation,
  place: $place,
  big-band: $big-band,
  mumei: $mumei,
  braxton: $braxton,
  propaganda: $propaganda,
  cherry: $cherry,
  listeners: $listeners,
  treatise: $treatise
);
