// base
$whitest: white;
$white: hsla(0, 0%, 100%, 1);
$black: #000;
$light-gray: lighten($black, 90%);
$medium-gray: lighten($black, 60%);
$dark-gray: lighten($black, 40%);

// default color scheme
$background: $white;
$default-text: $black;
$default-link: $black;
$default-visited: $medium-gray;
$default-hover: $medium-gray;
$default-active: $medium-gray;

// issue keys
$hyla: #8053ae;
$change: #002e6f;
$just-intonation: #8e3161;
$place: #f26b01;
$big-band: #00efe0;
$mumei: red;
$braxton: gold;
$propaganda: goldenrod;
$cherry: lightblue;
$listeners: gray;
$treatise: orange;
$wolff: black;
$monophony: indigo;
$maker: black;
$philadelphia: pink;
$what-is-american: silver;
$cage: gold;
$networking: red;
$gospel: #3cb2fc;
$deep-listening: blue;

$themes: (
  hyla: $hyla,
  change: $change,
  just-intonation: $just-intonation,
  place: $place,
  big-band: $big-band,
  mumei: $mumei,
  braxton: $braxton,
  propaganda: $propaganda,
  cherry: $cherry,
  listeners: $listeners,
  treatise: $treatise,
  wolff: $wolff,
  monophony: $monophony,
  maker: $maker,
  philadelphia: $philadelphia,
  what-is-american: $what-is-american,
  cage: $cage,
  networking: $networking,
  gospel: $gospel,
  deep-listening: $deep-listening
);
