// restating global breakpoints
$mobile: 480px;
$tablet: 740px;
$desktop: 980px;
$wide: 1300px;
$desktopAd: 810px;
$mobileLandscape: 480px;

$max-vw: $wide;

$font-sm: 1rem;
$font-md: 2.1rem;
$font-lg: 2.4rem;
$font-display: 3.2rem;
$font-xl: 3.4rem;

@mixin global-margin {
  margin: 0 auto;
  max-width: $max-vw;
}

@mixin link-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin type($font-family, $size, $text-transform) {
  font-family: $font-family;
  @include font-size($size);
  text-transform: $text-transform;
  line-height: 1;
}

@mixin body-default($font-family, $size, $text-transform) {
  @include type($life, $font-md, normal);
}

@mixin title-sm {
  @include type($univers, $font-md, normal);
  em {
    font-family: $univers-italic;
  }
}

@mixin title-sm-serif {
  @include type($life, $font-md, normal);
  em {
    font-family: $life-italic;
  }
}

@mixin title-md {
  @include type($life, $font-md, uppercase);
  em {
    font-family: $life-italic;
  }
}

@mixin article-type {
  @include type($life, $font-sm, initial);
}

@mixin article-title {
  @include type($life, $font-display, uppercase);
  em {
    font-family: $life-italic;
  }
}

@mixin article-author {
  @include type($univers, $font-md, initial);
}

@mixin title-md-sans {
  @include type($univers, $font-md, uppercase);
  em {
    font-family: $univers-italic;
  }
}

@mixin title-md-normal {
  @include type($life, $font-lg, static);
  padding-bottom: 1.4rem;
  em {
    font-family: $life-italic;
  }
}

@mixin title-front {
  @include type($life, $font-xl, static);
  text-transform: uppercase;
  em {
    font-family: $life-italic;
  }
}

@mixin title-sc {
  @include type($univers, $font-sm, uppercase);
  em {
    font-family: $univers-italic;
  }
}

@mixin topic-header {
  @include type($univers, $font-sm, normal);
  text-transform: uppercase;
}

@mixin topic-header-sans {
  @include type($univers, $font-lg, normal);
  text-transform: uppercase;
}

@mixin topic-ornament {
  border-bottom: 1px solid;
  margin: 1rem 0;
  padding-bottom: 0.2rem;
  @include topic-header;
  @include mq($from: wide) {
    padding-left: 0;
    margin: 1rem 0;
  }
}

@mixin topic-ornament-sans {
  border-bottom: 1px solid;
  margin: 1rem;
  padding-bottom: 0.2rem;
  @include topic-header-sans;
  @include mq($from: wide) {
    padding-left: 0;
    margin: 1rem 0;
  }
}

@mixin caption {
  @include font-size(0.8rem);
}

@mixin justify {
  text-align: justify;
  text-justify: inter-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  em {
    font-style: italic;
  }
  @include mq($until: mobile) {
    text-align: left;
    text-justify: none;
  }
}

@mixin article-layout {
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin media-layout {
  max-width: $desktop;
  margin: 0 auto;
  @include mq($from: desktop) {
    padding: 1rem 0;
  }
}

$indent: 3rem;

@mixin life-sc {
  font-family: $default-font;
  font-weight: 700;
  opacity: 0.9;
  @include font-size(0.8rem);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$percentage: 40;

// toc dark
@mixin toc-dark($name, $color, $bg) {
  .#{$name} {
    main {
      background: $color;
    }

    article {
      color: lighten($color, 100%);
    }

    header {
      // border-bottom: 1px solid lighten($color, $percentage);
    }

    a.article__link {
      @include transition(all 0.33s ease);
      color: lighten($color, 100%);

      &:link,
      &:visited {
        color: lighten($color, 100%);
      }

      &:hover,
      &:active,
      &:focus {
        color: lighten($color, 100%);
        box-shadow: 0 2px 0 lighten($color, $percentage);
      }
    }

    .region-header a {
      @include transition(all 0.33s ease);
      color: lighten($color, 100%);

      &:link,
      &:visited {
        color: lighten($color, 100%);
      }

      &:hover,
      &:active,
      &:focus {
        color: lighten($color, 100%);
        box-shadow: 0 2px 0 lighten($color, $percentage);
      }
    }
  }
  .media--image img {
    filter: grayscale(100%) contrast(1) blur(0);
    height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    opacity: 0.8;
    position: relative;
    width: 100%;
  }
}
