// restating global breakpoints
$mobile: 480px;
$tablet: 740px;
$desktop: 980px;
$wide: 1300px;
$desktopAd: 810px;
$mobileLandscape: 480px;

$max-vw: $wide;

@mixin global-margin {
  margin: 0 auto;
  max-width: $max-vw;
}

@mixin article-title-margin {
  max-width: $tablet;
  margin: 3rem auto 3rem auto;
  padding: 0 1rem;
}

@mixin article-margin {
  margin: 1rem auto 0;
  max-width: $tablet;
  padding: 0 1rem;
}

@mixin indent {
  text-indent: 3rem;
}

@mixin life-sc {
  font-family: $default-font;
  font-weight: 700;
  opacity: 0.9;
  @include font-size(0.8rem);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin theme($name, $color) {
  .#{$name} {
    header,
    main,
    .headroom {
      background: $color;
    }
    header {
      border-bottom: 1px solid lighten($color, 30%);
    }

    .region-header a {
      @include transition(all 0.33s ease);
      color: lighten($color, 100%);

      &:link {
        color: lighten($color, 100%);
      }

      &:visited {
        color: lighten($color, 100%);
      }

      &:hover {
        color: lighten($color, 30%);
        box-shadow: 0 2px 0 lighten($color, 30%);
      }

      &:active,
      &:focus {
        color: lighten($color, 30%);
        box-shadow: 0 2px 0 lighten($color, 30%);
      }
    }
  }
  .media--image img {
    filter: grayscale(100%) contrast(1) blur(0);
    height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    opacity: 0.8;
    position: relative;
    width: 100%;
  }
}

@include theme(hyla, $hyla);
@include theme(change, $change);

.b-lazy,
.b-responsive {
  opacity: 0 !important;
  transition: opacity 500ms ease-in-out !important;
}
.b-loaded {
  opacity: 1 !important;
  transition: opacity 500ms ease-in-out !important;
}
