// $light: red;
// $dark: green;
// // background: lighten(adjust-hue($secondary, 203), 10%);

// // toc light
// @mixin toc-light($name, $primary, $secondary) {
//   .#{$name} {
//     header,
//     main,
//     .headroom {
//       background: $primary;
//     }

//     article {
//       color: lighten(adjust-hue($primary, 590), 30%);
//     }

//     header {
//       border-bottom: 1px solid lighten(adjust-hue($primary, 590), 30%);
//     }

//     a.article__link {
//       @include transition(all 0.33s ease);
//       color: lighten(adjust-hue($primary, 590), 30%);
//       &:link,
//       &:visited {
//         color: lighten(adjust-hue($primary, 590), 30%);
//         text-decoration: underline;
//       }

//       &:hover,
//       &:active,
//       &:focus {
//         color: lighten(adjust-hue($primary, 590), 30%);
//         // box-shadow: 0 2px 0 lighten(adjust-hue($primary, 590), 30%);
//         text-decoration: underline;
//       }
//     }

//     .region-header a {
//       @include transition(all 0.33s ease);
//       // color: rgba($primary, 0.9);
//       color: lighten(adjust-hue($primary, 590), 30%);

//       &:visited {
//         color: lighten(adjust-hue($primary, 590), 30%);
//       }

//       &:hover,
//       &:active,
//       &:focus {
//         color: lighten(adjust-hue($primary, 590), 30%);
//         box-shadow: 0 2px 0 lighten(adjust-hue($primary, 590), 30%);
//       }
//     }
//   }
//   .media--image img {
//     filter: grayscale(100%) contrast(1) blur(0);
//     height: 100%;
//     max-width: 100%;
//     mix-blend-mode: multiply;
//     object-fit: cover;
//     opacity: 0.8;
//     position: relative;
//     width: 100%;
//   }
// }

// @mixin article-light($name, $primary) {
//   .#{$name} {
//     header,
//     main,
//     .headroom {
//       background: $white;
//     }
//     .region-page-title,
//     .region-content {
//       h1,
//       h2,
//       div,
//       p {
//         color: $primary;
//       }
//       h1.article__title {
//         border-top: 1px solid $primary;
//       }
//     }

//     .region-content-related {
//       background: $primary;
//       color: $white;
//     }

//     header {
//       border-bottom: 1px solid $primary;
//     }

//     a.article__link {
//       @include transition(all 0.33s ease);
//       color: $primary;

//       &:link,
//       &:visited {
//         color: $primary;
//       }

//       &:hover,
//       &:active,
//       &:focus {
//         color: lighten($primary, 100%);

//         box-shadow: 0 2px 0 lighten($primary, $percentage);
//       }
//     }

//     .region-header a {
//       @include transition(all 0.33s ease);
//       color: $primary;

//       &:link,
//       &:visited {
//         color: lighten($primary, 100%);
//       }

//       &:hover,
//       &:active,
//       &:focus {
//         color: lighten($primary, 100%);
//         box-shadow: 0 2px 0 lighten($primary, $percentage);
//       }
//     }
//   }
//   .media--image img {
//     filter: grayscale(100%) contrast(1) blur(0);
//     height: 100%;
//     max-width: 100%;
//     mix-blend-mode: multiply;
//     object-fit: cover;
//     opacity: 0.8;
//     position: relative;
//     width: 100%;
//   }
// }

// // Hyla
// @include toc-dark(hyla-toc, $hyla, $light);
// @include article-light(hyla-article, $hyla);

// // Change
// @include toc-dark(change-toc, $change, $dark);
// @include article-light(change-article, $hyla);

// // Gospel
// @include toc-light(gospel-toc, $gospel, $dark);
