// article theme mixins, from the editor
@mixin article($name, $primary) {
  .#{$name} {
    // color
    .region__page-title,
    .region__content-wrapper {
      color: $primary;
    }
    // borders
    h1.c-title__title,
    .region__content .endnotes .field-body {
      border-top-color: $primary;
    }

    // icons
    .social-media-sharing .share {
      color: $primary;
    }

    // images
    .media--image {
      background: $primary;
      line-height: 0;
    }

    .media--image img {
      filter: grayscale(100%) contrast(1) blur(0);
      max-width: 100%;
      mix-blend-mode: screen;
    }
  }
}

@include article(hyla-article, $hyla);
@include article(change-article, $change);
@include article(wolff-article, $wolff);
