// article theme mixins, from the editor
@mixin article($name, $primary) {
  .#{$name} {
    .breadcrumbs,
    main,
    progress {
      color: $primary;
    }

    // borders
    h1.title {
      border-top-color: $primary;
    }

    .interview .field-section-title,
    .page-section .field-section-title {
      p {
        &:after {
          border-bottom: 1px solid $primary !important;
        }
      }
    }
    // links
    header a,
    .breadcrumbs a,
    .endnotes a,
    h2.title a {
      color: $primary;
    }
    // images
    .media--image {
      background: $primary;
      line-height: 0;
    }
    .media--image img {
      filter: grayscale(100%) contrast(1) blur(0);
      max-width: 100%;
      mix-blend-mode: screen;
    }
    .field-media {
      border-top: 1px dotted $primary;
      border-bottom: 1px dotted $primary;
    }
    // remote video
    .field-media-image-caption,
    .field-media-remote-video-caption {
      color: $primary;
    }
    // progress
    progress::-webkit-progress-value {
      background-color: $primary;
    }

    progress::-moz-progress-bar {
      background-color: $primary;
    }

    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $primary;
      }
    }
    header .search {
      background-color: transparent;
      &::after {
        background-color: $primary;
      }
    }
  }
}

@mixin issue($name, $primary, $secondary) {
  .#{$name} {
    header,
    .breadcrumbs,
    main {
      background-color: $primary;
      a {
        color: $secondary;
      }
      a:hover {
        color: $yellow;
        box-shadow: 0 0.5px 0 $yellow;
      }
    }
    .breadcrumb li {
      color: $secondary;
    }
    .from-the-editor {
      h1.title,
      .field-article-primary-author,
      .field-article-type,
      p {
        color: $secondary;
      }
    }

    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $secondary;
      }
    }

    // table of contents
    .toc h2 {
      color: $secondary;
    }

    .article {
      h2.title,
      .field-article-type,
      .field-article-precis,
      .field-article-primary-author {
        color: $secondary;
      }
      // images
      .media--image {
        background: $primary;
        line-height: 0;
      }

      .media--image img {
        filter: grayscale(100%) contrast(1) blur(0);
        max-width: 100%;
        mix-blend-mode: screen;
      }
    }
  }
}

@mixin upcoming($name, $primary) {
  .#{$name} {
    .flex .metadata-wrapper {
      span,
      .field {
        color: $primary;
      }
    }

    .media--image {
      background: $primary;
      line-height: 0;
    }

    .media--image img {
      filter: grayscale(100%) contrast(1) blur(0);
      max-width: 100%;
      mix-blend-mode: screen;
    }
    .field-release-release-summary a {
      color: $primary;
      box-shadow: 0 1px 0 $primary;
      transition: all 0.2s ease;
    }
    .field-release-release-summary a:hover {
      color: $dark-gray;
      box-shadow: none;
      transition: all 0.2s ease;
    }
  }
}

@mixin featured($name, $primary) {
  .#{$name} {
    .flex .metadata-wrapper {
      span,
      .field {
        color: $primary;
      }
    }
    .media--image {
      background: $primary;
      line-height: 0;
    }

    .media--image img {
      filter: grayscale(100%) contrast(1) blur(0);
      max-width: 100%;
      mix-blend-mode: screen;
    }

    a:hover {
      color: $yellow;
      box-shadow: 0 0.5px 0 $yellow;
    }
  }
}

@include upcoming(featured, $big-band);
@include upcoming(upcoming, $sun-ra);
@include article(alien-article, $alien);
@include article(hyla-article, $hyla);
@include article(change-article, $change);
@include article(just-intonation-article, $just-intonation);
@include article(place-article, $place);
@include article(big-band-article, $big-band);
@include article(mumei-article, $mumei);
@include article(braxton-article, $braxton);
@include article(propaganda-article, $propaganda);
@include article(cherry-article, $cherry);
@include article(listeners-article, $listeners);
@include issue(treatise, $treatise, $light-gray);

// Ritual
@include issue(ritual, $ritual, $light-gray);
@include article(ritual-article, $ritual);

// Treatise
@include issue(treatise, $treatise, $light-gray);
@include article(treatise-article, $treatise);

// Cherry
@include issue(cherry, $cherry, $light-gray);
@include article(cherry-article, $cherry);

// Big Band
@include issue(big-band, $big-band, $light-gray);
@include article(big-band-article, $big-band);

// Place
@include issue(place, $place, $light-gray);
@include article(place-article, $place);

// Just Intonation
@include issue(just-intonation, $just-intonation, $light-gray);
@include article(just-intonation-article, $just-intonation);

// Change
@include issue(change, $change, $light-gray);
@include article(change-article, $change);

// Hyla
@include issue(hyla, $hyla, $light-gray);
@include article(hyla-article, $hyla);

// Alien
@include issue(alien, $alien, $light-gray);
@include article(alien-article, $alien);
