// article theme mixins, from the editor
@mixin article($name, $primary) {
  .#{$name} {
    .breadcrumbs,
    main,
    progress {
      color: $primary;
    }
    // borders
    h1.title {
      border-top-color: $primary;
    }
    header.headroom {
      border-bottom: 1px solid lighten($primary, 60%);
    }
    .page-section .field-section-title p:after {
      border-bottom-color: $primary;
    }
    // links
    header a,
    .breadcrumbs a,
    .endnotes a,
    h2.title a {
      color: $primary;
    }
    // images
    .media--image {
      background: $primary;
      line-height: 0;
    }
    // images
    .media--image img {
      filter: grayscale(100%) contrast(1) blur(0);
      max-width: 100%;
      mix-blend-mode: screen;
    }

    .media__wrapper {
      border-top: 1px solid lighten($primary, 35%);
      border-bottom: 1px solid lighten($primary, 35%);
    }
    // progress
    progress::-webkit-progress-value {
      background-color: $primary;
    }

    progress::-moz-progress-bar {
      background-color: $primary;
    }

    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $primary;
      }
    }
    header .search {
      background-color: transparent;
      &::after {
        background-color: $primary;
      }
    }
  }
}

@mixin issue($name, $primary, $secondary) {
  .#{$name} {
    header.headroom {
      border-bottom: 1px solid lighten($secondary, 60%);
    }
    header,
    .breadcrumbs,
    main {
      background-color: $primary;
      a {
        color: $secondary;
      }
      a:hover {
        color: $yellow;
        box-shadow: 0 0.5px 0 $yellow;
      }
    }
    .from-the-editor {
      h1.title,
      h2.author,
      .rubric,
      p {
        color: $secondary;
      }
    }

    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $secondary;
      }
    }

    // table of contents
    .toc {
      .rubric,
      h2.title a,
      h3.author,
      .summary p,
      time {
        color: $secondary;
      }
      // images
      .media--image {
        background: $primary;
        line-height: 0;
      }

      .media--image img {
        filter: grayscale(100%) contrast(1) blur(0);
        max-width: 100%;
        mix-blend-mode: screen;
      }
    }
  }
}

@include article(alien-article, $alien);
@include article(hyla-article, $hyla);
@include article(change-article, $change);
@include article(just-intonation-article, $just-intonation);
@include article(place-article, $place);
@include article(big-band-article, $big-band);
@include article(mumei-article, $mumei);
@include article(braxton-article, $braxton);
@include article(propaganda-article, $propaganda);
@include article(cherry-article, $cherry);
@include article(listeners-article, $listeners);
@include issue(treatise, $treatise, $light-gray);

@include issue(cherry, $cherry, $light-gray);
@include article(cherry-article, $cherry);

// SA11: The Ritual Issue
@include issue(treatise, $treatise, $light-gray);
@include article(treatise-article, $treatise);

// SA11: The Ritual Issue
@include issue(ritual, $ritual, $light-gray);
@include article(ritual-article, $ritual);
