// header, footer, breadcrumb layouts
@mixin global-margin {
  margin: 0 auto;
  max-width: $max-vw;
}

.region-header {
  padding-top: 3px; // "fixes" Univers baseline
  margin: 1rem;
}

body main {
  margin-top: 3rem;
}

.region-breadcrumbs,
.region-page-title,
.article-wrapper {
  // cont'd with article styling below
  padding: 0 1rem;
  @include global-margin;
}

.region-content-related .primary-author,
.region-content-related .dram-content {
  @include global-margin;
}

// footer-first
footer {
  // border-left: 1px solid $white;
  // border-right: 1px solid $white;
}

.region-footer-first .newsletter-social-wrapper {
  @include global-margin;
  max-width: $max-vw;
  padding: 3rem 0;
}

.region-footer-first .newsletter-social {
  padding: 0 0 0 3rem;
  @include mq($from: tablet) {
    padding: 0 0 0 1rem;
  }

  @include mq($from: wide) {
    padding: 0 0 0 0;
  }
}

.region-footer-first .about-sap {
  padding: 3rem 3rem 0 3rem;
  @include mq($from: tablet) {
    padding: 0 3rem 0 3rem;
  }
  .body {
    padding-top: 3rem;
    // border-top: 1px solid $current-color-offwhite;
    @include mq($from: tablet) {
      padding: 0 3rem 0 0;
      border-top: none;
    }
  }
}

.region-footer-first .newsletter-social-wrapper {
  display: block;
  @include mq($from: tablet) {
    display: flex;
  }
}

// footer-first inset
.region-footer-first {
  // background-color: $current-color;

  .newsletter-social,
  .about-sap {
    flex: 1;
    height: 100%;
  }

  .newsletter-social {
    .body {
      width: 75%;
      margin-bottom: 1rem;
    }
  }

  .newsletter-social .mailchimp-signup-subscribe-form {
    margin-bottom: 1rem;
    width: 75%;

    form {
      display: flex;
    }
  }

  .about-sap {
    .body,
    .body > p:first-child {
      margin-bottom: 1rem;
    }
  }
}

.newsletter-social ul {
  display: flex;
}

// footer-second
.region-footer-second {
  padding: 0rem 0rem 3rem 0;
  // background: $current-color;
}

.region-footer-second .footer-wrapper {
  @include global-margin;
  max-width: $max-vw;
  // border-top: 1px solid $current-color-offwhite;

  .footer ul {
    max-width: 100%;
    padding-top: 3rem;
    display: block;
    padding-left: 3rem;

    @include mq($from: tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 1rem;
    }

    @include mq($from: wide) {
      padding-left: 0rem;
    }

    li {
      padding-bottom: 0.5rem;
      &:last-child {
        padding-bottom: 0;
      }
      @include mq($from: tablet) {
        flex-shrink: 1;
        flex-basis: 33%;
        height: 100%;
      }
    }

    li:nth-child(1) {
      order: 1;
    }

    li:nth-child(2) {
      order: 4;
    }

    li:nth-child(3) {
      order: 7;
    }

    li:nth-child(4) {
      order: 2;
    }

    li:nth-child(5) {
      order: 5;
    }

    li:nth-child(6) {
      order: 8;
    }

    li:nth-child(7) {
      order: 3;
    }

    li:nth-child(8) {
      order: 5;
    }

    li:nth-child(9) {
      order: 9;
    }
  }
}

// copyright
.region-legal {
  background-color: $black;
}

.region-legal .legal-wrapper {
  @include global-margin;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#block-legal ul {
  display: flex;
}

// basic page
.page-node-type-page h1 {
  padding: 1rem 0;
}

.page-node-type-page .region-page-title {
  @include global-margin;
}

.page-node-type-page .node__content {
  @include global-margin;
  padding: 0 1rem;
}

.page-node-type-page p {
  padding-bottom: 1rem;
}

.page-node-type-page .body {
  margin-bottom: 2rem;
}

// article
.page-node-type-article main {
  .article-wrapper {
    @include mq($from: tablet) {
      display: flex;
    }
  }

  .article-wrapper .region {
    @include mq($from: tablet) {
      flex: 1;
    }
  }
  .section-title {
    padding: 0rem 0 1rem 4rem;
  }
  .body {
    padding: 0rem 0rem 2rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.page-node-type-article {
  .region-content-related .primary-author {
    margin: 0 auto;
    max-width: 480px;
  }
  .region-content-related .primary-author img {
    height: 100%;
    width: 100%;
  }
  .region-content-related .primary-author .view {
    margin: 1rem 0;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
  }
  .region-content-related .primary-author .view {
    .biographical-note {
      padding: 1rem;
    }
    a {
      padding: 0rem 1rem 1rem;
    }
  }
}
.page-node-type-article .region-content-related {
  background: $current-color-offwhite;
  .dram-content {
    @include global-margin;
    max-width: $max-vw;
    padding: 3rem 0;
  }
  img {
    display: none;
  }
}
//.dram-content .view {
//   @include mq($from: tablet) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }
// .region-content-related .dram-content .view {
//   margin: 0 auto;
//   img {
//     height: 100%;
//     width: 100%;
//   }
// }
