// home page, basic layout
.home .articles .flex {
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-flow: row wrap;
    justify-content: space-between;
    .article {
      flex-basis: calc(32% - 1rem);
      position: relative;
    }
  }
}

// issue front page, basic layout
.issues .issue,
.issues .from-the-editor,
.issues .block.toc {
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 1rem;
}

// issue colors

// from the editor
.issues .block.toc {
  .title {
    text-align: center;
    padding-bottom: 5rem;
  }
}

.issues .block.toc .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.issues .block.toc .flex .article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.issues .block.toc .flex .article {
  h2 {
    margin-bottom: 0.5rem;
  }
  h3 {
    @include title-sm;
  }
}

// articles, inside page layout
.page-node-type-article {
  // title region
  .region__page-title {
    margin: 3rem auto 0;
    max-width: $tablet;
    padding: 1rem;
  }

  .region__content-wrapper {
    .region__content-first {
      .social {
        text-align: center;
        padding: 1rem 0;
      }
    }
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 1rem;
    .region__content .field-body,
    .region__content .field-section-title {
      padding: 0 1rem;
    }
    .region__content .field-body {
      max-width: $tablet;
      margin: 0 auto;
    }
    .region__content .endnotes {
      margin: 0 1rem;
    }
    .region__content .endnotes .field-body {
      max-width: $tablet;
      margin: 1rem auto;
      border-top: 1px solid;
      padding-top: 1rem;
    }
  }
}

.page-node-type-article .region__content-post .authors {
  margin: 0 auto;
  max-width: $tablet;
  .c-item__link {
    padding: 1rem 0rem 1rem 1rem;
  }
  .c-item__title {
    padding: 1rem;
  }
  p {
    padding: 0 1rem;
  }
}

// search
.path-search .region__wrapper {
  display: flex;
  padding: 0 1rem;
}

// footer
.region__footer .region__footer {
  @include global-margin;
  display: flex;
  flex-direction: column;
}

.region__footer .footer-about {
  @include type($life, 1.8rem, initial) padding: 3rem;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  color: $dark-gray;
}

.region__footer .footer-social {
  background: $light-gray;
  margin: 0 1rem;
  padding: 2rem;
}

.region__footer .footer-menu {
  padding: 3rem;
}

.region__footer .footer-subscribe {
  padding: 3rem;
  background: $dark-gray;
}

// footer mq
@include mq($from: desktop) {
  .region__footer {
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;

    .footer-about,
    .footer-social,
    .footer-menu {
      order: initial;
      flex-basis: calc(32% - 1rem);
      position: relative;
    }
    .footer-about,
    .footer-social {
      margin-top: 0;
    }
    .footer-social__social,
    .footer-about__credits {
      padding-top: 3rem;
    }
  }
}

.region__footer h2 {
  @include title-sc;
  padding-bottom: 0.3rem;
  line-height: 1.3;
}

.region__footer .footer-menu {
  ul li {
    padding-bottom: 0.3rem;
  }
}

.region__footer a {
  opacity: 0.8;
}

.footer-social__social ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

// legal
.region__legal {
  padding: 3rem;
  background: $black;
  color: $dark-white !important;
  @include font-size(0.9rem);
  a {
    color: $dark-white !important;
  }
}

@include mq($from: tablet) {
  .region__legal {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.2;
  }
}
