// header, footer, breadcrumb layouts
body main {
  margin-top: 4rem;
}

header {
  background: $white;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  flex: 1;
  min-height: 100%;
}

@mixin global-margin {
  margin: 0 auto;
  max-width: $max-vw;
}

.region-header {
  // padding-top: 3px; // "fixes" Univers baseline
  margin: 1rem;
}

.region-breadcrumbs,
.region-page-title,
.article-container {
  // cont'd with article styling below
  padding: 0 1rem;
  @include global-margin;
}



// // footer-second
// .region-footer-second .footer-wrapper {
//   .footer ul {
//     display: block;
//     @include mq($from: tablet) {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-between;
//       align-items: flex-start;
//     }
//     @include mq($from: wide) {
//     }
//     li {
//       padding-bottom: 0.5rem;
//       &:last-child {
//         padding-bottom: 0;
//       }
//       @include mq($from: tablet) {
//         flex-shrink: 1;
//         flex-basis: 33%;
//         height: 100%;
//       }
//     }
//     li:nth-child(1) {
//       order: 1;
//     }
//     li:nth-child(2) {
//       order: 4;
//     }
//     li:nth-child(3) {
//       order: 7;
//     }
//     li:nth-child(4) {
//       order: 2;
//     }
//     li:nth-child(5) {
//       order: 5;
//     }
//     li:nth-child(6) {
//       order: 8;
//     }
//     li:nth-child(7) {
//       order: 3;
//     }
//     li:nth-child(8) {
//       order: 5;
//     }
//     li:nth-child(9) {
//       order: 9;
//     }
//   }
// }

// Basic page
.page-node-type-page h1 {
  padding: 1rem 0;
}

.page-node-type-page .region-page-title {
  @include global-margin;
}

.page-node-type-page .node__content,
.path-user .region-content {
  @include global-margin;
  padding: 0 1rem;
}

.page-node-type-page main p {
  padding-bottom: 1rem;
}

// Article
.page-node-type-article .article-title {
  margin-top: 3rem;
  h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
  }
  h1 {
    padding: 6rem 0;
    text-align: center;
  }
}

.page-node-type-article main {
  .article-container {
    @include mq($from: tablet) {
      display: flex;
    }
  }
  .article-container .region {
    @include mq($from: tablet) {
      flex: 1;
    }
  }
  .section-title {
    padding-left: 4rem;
    margin-bottom: 0.7rem;
    padding: 0rem 0 1rem 4rem;
  }

  .section-title p {
    display: inline;
    padding-bottom: 0.9rem;
    letter-spacing: 0.01rem;
    border-bottom: 1px solid $black;
  }

  .body {
    padding: 0rem 0rem 2rem;
  }
}


// Author container
.region-content-related .article-author {
  padding: 3rem 0 0;
  background: darkgray;
}

.region-content-related {
.article-author .article-related-container {
  margin: 0 auto;
  max-width: $tablet;

  }
  h3 {
    padding-bottom: 2rem;
    @include mq($until: tablet) {
      padding-left: 1rem;
    }
  }
  .article-author-portrait,
  .fields {
      background: lightgray;
  }

  .fields {
    padding: 3rem;
  }
  .article-author-name,
  .article-author-bio {
    padding-bottom: 2rem;
  }
}


// Author content
.region-content-related .article-author {
  h3,
  .article-author-link {
    @include life-sc;
  }

  .article-author-name {
    font-family: $body-font-bold;
    @include font-size(1.2rem);
    text-transform: uppercase;
  }

  .article-author-bio {
    line-height: 1.6;
    @include font-size(1.1rem);
  }
}
