
// main
main {
  margin-top: 5em;
}

// front
.path-search .region__wrapper,
.home .region__content-post .articles,
.home .region__content-post .latest-release {
  @include global-margin;
}

.home .region__content-post .latest-release {
  display: flex;
}

.home .region__content-post .articles,
.home .region__content-post .latest-release {
  padding: 3rem 0;
}

// articles
.page-node-type-article {
  // title region
  .region__page-title {
    margin: 3rem auto 0;
    max-width: $tablet;
    padding: 1rem;
  }

  .region__content-wrapper {
    .region__content-first {
      .social {
        text-align: center;
        padding: 1rem 0;
      }
    }
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 1rem;
    .region__content .field-body,
    .region__content .field-section-title {
      padding: 0 1rem;
    }
    .region__content .field-body {
      max-width: $tablet;
      margin: 0 auto;
    }
    .region__content .endnotes {
      margin: 0 1rem;
    }
    .region__content .endnotes .field-body {
      max-width: $tablet;
      margin: 1rem auto;
      border-top: 1px solid;
      padding-top: 1rem;
    }
  }
}

// issues toc
@include mq($from: desktop) {
  .path-issues .toc {
    max-width: $wide;
    margin: 0 auto;
    padding: 0 1rem;
    .c-flex {
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      .c-item {
        flex-basis: calc(33% - 1rem;
        position: relative;
      }
    }
    .c-flex::after {
      content: "";
      flex: auto;
      flex-basis: calc(33% - 1rem);
    }
  }
}

// post content region, article

.page-node-type-article .region__content-post {
}

.region__content-post {
}

.page-node-type-article .region__content-post .authors {
  margin: 0 auto;
  max-width: $tablet;
  .c-item__link {
    padding: 1rem 0rem 1rem 1rem;
  }
  .c-item__title {
    padding: 1rem;
  }
  p {
    padding: 0 1rem;
  }
}

// post content region, home
.home .articles .c-flex {
  display: flex;
  flex-direction: column;
}

@include mq($from: desktop) {
  .path-frontpage .articles .c-flex {
    flex-flow: row wrap;
    justify-content: space-between;
    .c-item {
      flex-basis: calc(32% - 1rem);
      position: relative;
    }
  }
  .path-frontpage .articles {
    padding: 0 0 5rem 0;
  }
  .in-this-issue__wrapper {
    margin: 0 auto;
    max-width: $tablet;
  }
}

// search
.path-search .region__wrapper {
  display: flex;
  padding: 0 1rem;
}

// footer
footer {
  background: #48525b;
}

.region__footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  .footer-about {
    order: 3;
  }

  .footer-social {
    order: 2;
  }

  .footer-menu {
    order: 1;
  }
  .footer-about,
  .footer-social {
    margin-top: 3rem;
  }
  .footer-social__social,
  .footer-about__credits {
    padding-top: 3rem;
  }
}

@include mq($from: desktop) {
  .region__footer {
    padding: 5rem;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;

    .footer-about,
    .footer-social,
    .footer-menu {
      order: initial;
      flex-basis: calc(32% - 1rem);
      position: relative;
    }
    .footer-about,
    .footer-social {
      margin-top: 0;
    }
    .footer-social__social,
    .footer-about__credits {
      padding-top: 3rem;
    }
  }
}

.region__footer h2 {
  @include title-sc;
  padding-bottom: 0.5rem;
  color: #dcf5f9;
}

.region__footer p {
  color: #f4DCF5F9f4c3;
}

.region__footer a {
  color: #dcf5f9;
}

.footer-social__social ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

// legal
.region__legal {
  padding: 2rem;
  background: $black;
  color: $dark-white !important;
  @include font-size(0.8rem);
  line-height: 1.5;
  a {
    color: $dark-white !important;
  }
}

@include mq($from: tablet) {
  .region__legal {
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.2;
  }
}
