// distance between top of page & top of article
main {
  padding-top: 9rem;
}

// header, article relationship
.page-node-type-article .region__content-wrapper,
.page-node-type-issue .from-the-editor {
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 1rem;
}

@include mq($from: tablet) {
  .page-node-type-article .region__content-wrapper,
  .page-node-type-issue .from-the-editor {
    max-width: $tablet;
    margin: 0 auto;
    padding: 0 3rem;
  }
}

.page-node-type-issue .toc {
  margin: 0 auto;
  padding: 0 1rem;

  .flex {
    display: flex;
    flex-wrap: wrap;
    .article {
      .title {
        padding: 0 1rem;
      }
      text-align: center;
      margin: 3rem 0rem;
      .media {
        padding-bottom: 1rem;
      }
      .author {
        padding: 0.5rem;
      }
      .date {
        display: none;
      }

      .summary p {
        font-family: $life;
        font-size: 1.4rem;
        padding: 1rem 0 2rem 0;

        em {
          font-family: $life-italic;
        }
      }
    }
  }
}

time {
  margin-top: 1rem !important;
}

@include mq($until: tablet) {
  .page-node-type-issue .toc .flex {
    flex-direction: column;
  }
}

@include mq($from: tablet, $until: desktop) {
  .page-node-type-issue .toc .flex {
    flex-direction: row;
    .article {
      flex-basis: calc(50% - 2rem);
      margin: 3rem 1rem;
    }
  }
}

@include mq($from: desktop) {
  .page-node-type-issue .toc .flex {
    flex-direction: row;
    .article {
      flex-basis: calc(33% - 2rem);
      margin: 3rem 1rem;
    }
  }
}

@include mq($from: wide) {
  .page-node-type-issue .toc .flex {
    flex-direction: row;
    .article {
      flex-basis: calc(25% - 2rem);
      margin: 3rem 1rem;
    }
  }
}

// basic page
.page-node-type-page {
  .region__content-wrapper {
    max-width: $tablet;
    margin: 0 auto;
    padding: 0 3rem;
  }
}

// issue front page, basic layout
.page-node-type-issue .from-the-editor {
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 1rem;
}

// search
.path-search .region__wrapper {
  display: flex;
  padding: 0 1rem;
}

// footer
.region__footer,
.region__footer .footer-menu {
  border-top: $border-light;
}

.footer-about,
.footer-menu ul,
.footer-social-subscribe .wrapper {
  padding: 3rem;
}

.footer-social-subscribe .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-subscribe {
  padding-top: 3rem;
}

@include mq($from: $tablet) {
  .footer-about,
  .footer-menu ul,
  .footer-social-subscribe .wrapper {
    margin: 0 auto;

    max-width: $tablet;
  }
  .footer-social-subscribe .wrapper {
    flex-direction: row;
  }
  .footer-subscribe {
    padding-top: 0rem;
  }
}

.footer-about {
  @include body;
  @include justify;
  padding: 3rem;
  line-height: 1.3;
}

.footer-social-subscribe {
  background: lighten($dark-gray, 55%);
}

.footer-social ul {
  display: flex;
}

.region__footer h2 {
  font-family: $font-nav-sm;
  padding-bottom: 0.3rem;
  line-height: 1.3;
}

.region__footer .footer-menu {
  ul li {
    padding-bottom: 0.3rem;
  }
  ul li {
    a {
      color: $footer-nav-link;
      text-decoration: none;
      transition: color 0.22s ease;
    }
    a:hover {
      color: $footer-nav-hover;
      border-bottom: 1px solid $footer-nav-hover;
    }
    a.is-active {
      color: $footer-nav-hover;
      border-bottom: 1px solid $footer-nav-hover;
    }
    a.is-active:hover {
      color: $footer-nav-link;
      border-bottom: 1px solid $dark-gray;
      text-decoration: none;
    }
  }
}

// legal
.region__legal {
  padding: 3rem;
  background: $black;
  color: $dark-white !important;
  font-size: $font-nav-sm;
  line-height: 1.4;
  a {
    color: $dark-white;
    border-bottom: 1px solid $dark-gray;
    text-decoration: none;
  }
  a:hover {
    color: $footer-link;
    border-bottom: 1px solid $footer-link;
    transition: all 0.22s ease;
  }
  a.is-active {
    color: $footer-link;
    border-bottom: 1px solid $footer-link;
  }
  a.is-active:hover {
    color: $dark-white;
    border-bottom: 1px solid $dark-gray;
    text-decoration: none;
    transition: all 0.22s ease;
  }
}

.copyright .field p:nth-child(2) {
  padding-top: 1rem;
}

.copyright .field p:nth-child(3) {
  padding-bottom: 1rem;
}

@include mq($from: tablet) {
  .region__legal {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .copyright .field p:nth-child(3) {
    padding-bottom: 0rem;
  }
}
