// palette
body main {
  .region-content,
  .region-page-title {
    color: $hyla;
  }
}

h2.article-pre-title {
  border-bottom: 1px solid $hyla;
}

.page-node-type-article {
  .page-section-title p {
    border-bottom: 1px solid $hyla;
  }
}

// header, footer, breadcrumb layouts
body main {
  margin-top: 4rem;
}

header {
  background: $white;
  opacity: 1;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  flex: 1;
  min-height: 100%;
}

.region-header {
  padding-top: 3px; // "fixes" Univers baseline
  margin: 1rem;
}

.region-breadcrumbs,
.region-page-title,
.article-container {
  // cont'd with article styling below
  padding: 0 1rem 3rem 1rem;
  @include global-margin;
}

.region-content {
  margin-top: 3rem;
}

// Legal footer
.region-legal {
  @include font-size(0.9rem);
}

.region-legal .body p,
.region-legal a {
  line-height: 1.4;
  color: $white;
  font: $univers;
}

.legal-wrapper ul li:first-child {
  padding-right: 1rem;
}

// Basic page
.page-node-type-page h1 {
  padding: 1rem 0;
}

.page-node-type-page .region-page-title {
  @include global-margin;
}

.page-node-type-page .node__content,
.path-user .region-content {
  @include global-margin;
  padding: 0 1rem;
}

.page-node-type-page main p {
  padding-bottom: 1rem;
}

// sa/issues
.path-issues .view-issues {
  div {
    @include mq($from: tablet) {
      display: flex;
    }
  }
}

.issue-title-fieldset {
  display: flex;
  flex-direction: column;
  background: red;
}

.issue-articles ul li {
  display: flex;
}

.article-pre-title {
  flex: 1;
}
.article-title-author {
  flex: 1;
}

.article-title-author {
  display: flex;
  flex-direction: column;
}

.path-issues .view-issues {
  @include global-margin;
  padding: 0 1rem;
  line-height: 1.2;

  font-family: $default-font;

  .article-title-author {
    padding-bottom: 2rem;
  }
  .article-title {
    text-transform: uppercase;
  }
}

.article-formatted-title {
  text-transform: uppercase;
  em {
    font-family: $univers-italic;
  }
}

// Article container margins
.page-node-type-article .article-paragraph-container {
  .page-section,
  .drop-quote {
    margin: 0 auto;
    max-width: 720px;
    padding: 0 1rem;
  }
}

.page-node-type-article .article-paragraph-container .media-section {
  margin: 2rem auto 1rem auto;
  max-width: 960px;
  text-align: center;
}

// Article title
.page-node-type-article .region-page-title {
  margin-top: 3rem;
  .article {
    h2.article-pre-title {
      padding-bottom: 1rem;
      @include font-size(1.5rem);
    }
    h1.article-title {
      max-width: 720px;
      margin: 0 auto;
      padding: 1rem;
      text-align: center;
      font-family: $display-font;
      @include font-size(3rem);
      text-transform: uppercase;
    }
    .article-author {
      text-align: center;
      font-family: $default-font;
      @include font-size(1.5rem);
    }
  }
}

// Article copy
.page-node-type-article {
  .page-section-title {
    padding-left: 4rem;
    margin-bottom: 0.7rem;
    padding: 1rem 0 1rem 3rem;
    text-transform: uppercase;
    font-family: $univers;
    @include font-size(1rem);
  }

  .page-section-title p {
    display: inline;
    padding-bottom: 0.9rem;
    letter-spacing: 0.01rem;
  }

  .page-section {
    font-family: $life;
  }

  .drop-quote {
    font-family: $life-italic;
    em {
      font-family: $life;
    }
    p:first-child {
      padding-top: 1rem;
    }

    p:last-child {
      padding-bottom: 1rem;
    }

    p:not(:first-child) {
      padding: 1rem 0;
    }
  }

  .page-section,
  .drop-quote {
    @include font-size(1rem);
    line-height: 1.2;
    @include mq($from: mobile) {
      @include font-size(1.2rem);
    }
    em {
      font-family: $life-italic;
    }
  }

  .page-section > p {
    text-indent: 3rem;
  }

  .page-section > p,
  .drop-quote > p {
    text-align: justify;
    text-justify: inter-character;
  }
}

// Article media section
.page-node-type-article .article-paragraph-container .media-section {
  img {
    width: 100%;
  }
  .blazy__caption {
    padding: calc(1rem + 3px) 1rem 1rem 1rem;
    font-family: $univers;
    max-width: 720px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-character;
    line-height: 1.2;
    em {
      font-family: $univers-italic;
    }
  }
}

// Author container
.region-content-related .article-author {
  background: $current-color;
  color: $white;
  .article-author-container {
    max-width: 640px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.region-content-related .article-author {
  font-family: $univers;
  line-height: 1.2;
  em {
    font-family: $univers-italic;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    padding: 0 3rem 3rem 0;
    padding-top: calc(3rem + 3px);
    @include mq($until: mobile-plus) {
      padding: 0 2rem 2rem 2rem;
      padding-top: calc(2rem + 3px);
    }
  }

  .person-bio,
  .person-link {
    padding-top: 2rem;
    @include mq($until: mobile-plus) {
      padding-top: 2rem;
    }
  }
  .field-fieldset {
    padding: 2rem 3rem 3rem 3rem;
    @include mq($until: mobile-plus) {
      padding: 1rem 2rem 2rem rem;
    }

    text-align: justify;
    text-justify: inter-character;
  }
}
