// header, footer, breadcrumb layouts
main {
  padding-top: 8rem;
}

.region-page-title {
  padding: 0 1rem;
}

.page-node-type-article {
  main {
    padding-top: 8rem;
  }
}

.region-header {
  padding-top: 3px; // "fixes" Univers baseline
  margin: 0.8rem;
}

.breadcrumb {
  margin: 0 auto;
  padding: calc(1rem + 3px) 0rem 1rem 1rem;
  display: flex;
  justify-content: center;
}

.region-content {
  padding-bottom: 3rem;
}

.node--type-article {
  padding-bottom: 3rem;
}

// issue index
.path-issues {
  .view-issue-index {
    max-width: $tablet;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
  }
  .issue__container {
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 0rem;
    }
  }
}

// issue index, toc shared
.page-node-type-issue,
.path-issues {
  .issue__publication-wrapper {
    display: flex;
    justify-content: center;
    font-family: $life;
    @include font-size(1.1rem);
    padding-bottom: 0.5rem;
  }
  .issue__volume-number {
    &:after {
      content: "/";
      padding-right: 0.3rem;
    }
  }
  h2.issue__title {
    line-height: 1;
    padding-bottom: 0.5rem;
  }
  .issue__notice {
    @include life-sc;
  }
}

// issue index
.page-node-type-issue {
  main {
    margin-top: 0rem; // marquee top of window
  }

  .issue__toc,
  .issue__toc-wrapper {
    position: relative;
  }

  .issue__frontis {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .article__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 1.25;

    max-width: $tablet;
    padding: 4rem 1rem 1rem 1rem;
  }

  .article__content {
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-bottom: 1.25rem;
    @include mq($from: tablet) {
      flex-direction: row;
    }
  }

  .article__col-1 {
    width: 25%;
  }

  .article__col-2 {
    width: 75%;
  }

  .article__pre-title {
    padding-right: 1rem;
  }

  .article__link {
    display: inline-block;
    em {
      display: inline-block;
    }
  }
}

.page-node-type-article {
  .block-social-media-sharing {
    @include article-margin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    h3 {
      padding-bottom: 1rem;
    }
  }
}

// Legal footer
.region-legal {
  @include font-size(0.9rem);
}

.region-legal .body p,
.region-legal a {
  line-height: 1.4;
}

.legal-wrapper ul li:first-child {
  padding-right: 1rem;
}

// basic page
.page-node-type-page .region-page-title {
  @include global-margin;
}

.page-node-type-page .node__content,
.path-user .region-content {
  @include global-margin;
  padding: 0 1rem;
}

.page-node-type-page main p {
  padding-bottom: 1rem;
}

// sa/issues
.view-issues .issue__title,
.view-issues .articles__title {
  text-transform: uppercase;
}

// Imprint
body.imprint {
  main {
    line-height: 1.3;
    margin-top: 3.3rem;
    max-width: $desktop;
    margin: 3.3rem auto;
    padding: 0 2rem;
  }
  .region-page-title,
  .node__content,
  p,
  h1,
  h2 {
    font-family: $univers;
    padding-bottom: 0rem;
    padding-top: 0rem;
    @include font-size(1rem);
  }
  .region-page-title,
  h2 {
    text-transform: uppercase;
  }

  .items {
    padding-bottom: 1rem;
  }

  .node__content {
    padding-top: 3rem;
  }

  .imprint__wrapper {
    @include mq($from: tablet) {
      display: flex;
    }
  }
  .imprint__wrapper {
    .region-page-title {
      @include mq($from: tablet) {
        width: 40%;
        margin-right: 5rem;
      }
      padding-bottom: 1rem;
      padding-left: 0;
    }
    .col-1 {
      @include mq($from: tablet) {
        width: 40%;
      }
    }
    .col-2 {
      @include mq($from: tablet) {
        width: 50%;
      }
    }
  }

  .imprint__wrapper a {
    color: $white;
    &:hover {
      border-bottom: 1px solid;
      border-color: $white;
    }
  }
}
