// header, footer, breadcrumb layouts
main {
  margin-top: 0rem;
  padding-top: 8.2rem;
}

.page-node-type-article {
  main {
    margin-top: 10rem;
  }
}

.region-header {
  padding-top: 3px; // "fixes" Univers baseline
  margin: 0.8rem;
}

.breadcrumb {
  margin: 0 auto;
  padding: calc(1rem + 3px) 0rem 1rem 1rem;
  display: flex;
  justify-content: center;
}

.region-content {
  margin-bottom: 3rem;
}

.region-content .view-issues {
  padding: 0 1rem;
}

// Legal footer
.region-legal {
  @include font-size(0.9rem);
}

.region-legal .body p,
.region-legal a {
  line-height: 1.4;
}

.legal-wrapper ul li:first-child {
  padding-right: 1rem;
}

// basic page
.page-node-type-page h1 {
  padding: 1rem 0;
}

.page-node-type-page .region-page-title {
  @include global-margin;
}

.page-node-type-page .node__content,
.path-user .region-content {
  @include global-margin;
  padding: 0 1rem;
}

.page-node-type-page main p {
  padding-bottom: 1rem;
}

// sa/issues
.view-issues .issue__title,
.view-issues .articles__title {
  text-transform: uppercase;
}

// Imprint
body.imprint {
  main {
    line-height: 1.3;
    margin-top: 3.3rem;
    max-width: $desktop;
    margin: 3.3rem auto;
    padding: 0 2rem;
  }
  .region-page-title,
  .node__content,
  p,
  h1,
  h2 {
    font-family: $univers;
    padding-bottom: 0rem;
    padding-top: 0rem;
    @include font-size(1rem);
  }
  .region-page-title,
  h2 {
    text-transform: uppercase;
  }

  .items {
    padding-bottom: 1rem;
  }

  .node__content {
    padding-top: 3rem;
  }

  .imprint__wrapper {
    @include mq($from: tablet) {
      display: flex;
    }
  }
  .imprint__wrapper {
    .region-page-title {
      @include mq($from: tablet) {
        width: 40%;
        margin-right: 5rem;
      }
      padding-bottom: 1rem;
      padding-left: 0;
    }
    .col-1 {
      @include mq($from: tablet) {
        width: 40%;
      }
    }
    .col-2 {
      @include mq($from: tablet) {
        width: 50%;
      }
    }
  }

  .imprint__wrapper a {
    color: $white;
    &:hover {
      border-bottom: 1px solid;
      border-color: $white;
    }
  }
}
