body.no-scroll {
  position: fixed;
  overflow: hidden;
}

header.is-active {
  color: $white;
  background-color: $current-color;
}

.overlay {
  display: none;
}

.overlay.open {
  position: fixed;
  background-color: $current-color;
  color: $white;
  z-index: 9999;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100vh - 3rem - 5px);
  width: 100%;
  display: flex;
}

.overlay .overlay-wrapper-first {
  margin: 0 auto;
  max-width: 720px;
}

.overlay-issues {
  font-family: $univers;
}

.overlay-issues h2 {
  padding-bottom: 1rem;
}

.overlay-issues a {
  color: $white;
}

.overlay-issues a:hover {
  border-bottom: 1px solid $white;
}
