header {
  display: none;
}

.article-title h1 {
  @include type($life, 3rem, uppercase);
  border-top: 1px solid $black;
  padding-top: 1rem;
  text-align: center;
  line-height: 1;
  em {
    font-style: italic;
  }
}

.article-title h2 {
  @include type($life, 2rem, normal);
  margin-bottom: 2rem;
}

.author {
  @include type($univers, 1.4rem, normal);
  text-align: center;
  margin-top: 2rem;
}
