.about_author {
  padding: 3rem 0rem;
  h3 {
    text-transform: uppercase;
  }
  .field-media-image-caption {
    padding: 0 1rem;
    @include caption;
  }
  .field-person-name {
    padding: 2rem 1rem 1rem 1rem;
    text-transform: uppercase;
  }
  .field-person-bioghist {
    @include justify;
    p {
      padding: 1rem 1rem 0rem 1rem;
    }
  }
  .field-person-url {
    padding: 1rem 1rem 0rem 1rem;
  }
}
