.page-node-type-article {
  h2.pre-title {
    @include article-type;
    padding-bottom: 1.2rem;
  }

  h1.title {
    @include article-title;
    border-top: 1px solid;
    padding: 0.7rem 1rem 0rem 1rem;
    text-align: center;
    line-height: 1;
    em {
      font-family: $life-italic;
    }
  }

  h3.author {
    @include article-author;
    padding: 2rem 1rem;
    text-align: center;
  }
}
