.page-node-type-article {
  .rubric {
    @include article-type;
    padding-bottom: 2.8rem;
  }

  h1.title {
    @include article-title;
    border-top: 1px solid;
    padding: 0.7rem 2rem;
    text-align: center;
    line-height: 1;
    em {
      font-family: $life-italic;
    }
  }

  h2.author {
    @include article-author;
    padding: 3rem 2rem;
    text-align: center;
  }
}
