h1.c-title__title {
  @include type($life, 3rem, uppercase);
  border-top: 1px solid;
  padding: 0.7rem 1rem 0rem 1rem;
  text-align: center;
  line-height: 1;
  em {
    font-family: $life-italic;
  }
}

.c-title__author {
  @include type($univers, 1.6rem, normal);
  margin: 2rem 0;
  padding: 0 1rem;
  text-align: center;
}

.region__content-first .social h2 {
  @include title-sc;
  padding-bottom: 0.5rem;
}
