ul.social-buttons {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

ul.social-buttons li {
  height: 15px;
  width: 25px;
  padding-right: 0.5rem;
  &:last-child {
    padding-right: 0;
  }
}

ul.social-buttons li a {
  color: $white;
}

ul.social-buttons li a:hover {
  color: $black;
}

.about-sa,
.newsletter-social {
  .button {
    margin: 1rem 0;
    font-family: $univers;
    text-transform: uppercase;
    @include font-size(0.8rem);
    letter-spacing: 0.075rem;
    font-weight: 900;
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  background: $white;
  color: $black;
  border: none;
  padding: 1.3rem 3rem 1rem 3rem;
  &:hover {
    color: $black;
    background: $hyla;
  }
}
