.social-buttons ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.social-buttons ul li {
  height: 20px;
  width: 30px;
  padding-right: 0.5rem;
  &:last-child {
    padding-right: 0;
  }
}

.social-buttons {
  .button {
    margin: 1rem 0;
    font-family: $univers;
    text-transform: uppercase;
    @include font-size(0.8rem);
    letter-spacing: 0.075rem;
    font-weight: 900;
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 1.3rem 3rem 1rem 3rem;
}
