// issue toc
.from-the-editor {
  .page-section {
    @include justify;
    @include type($univers, $font-sans-text, normal);
    line-height: 1.2;
  }
  .page-section .field-body p {
    @include indent-default;
    padding: 0.5rem 0;
    &:first-child {
      padding: 0rem;
    }
  }
}

// articles
.page-node-type-article .article,
.from-the-editor .page-section {
  padding-bottom: 4rem;
}

.page-node-type-article {
  .interview,
  .page-section {
    @include justify;
  }

  blockquote {
    padding: 0 1.5rem;
    @include mq($from: tablet) {
      padding: 0rem 3rem;
    }
    font-family: $life-italic;
    em {
      font-family: $life;
    }
  }

  .interview .field-body p,
  .page-section .field-body p {
    padding: 0.5rem 0;
  }

  .interview .field-body,
  .page-section .field-body {
    @include body;
    line-height: 1.1;
    margin-bottom: 1rem;
    em {
      font-family: $life-italic;
    }
  }

  .interview .field-section-title,
  .page-section .field-section-title,
  .from-the-editor .field-section-title {
    max-width: $tablet;
    margin: 0 auto;
    padding-bottom: 1rem;
    @include section-title;
    margin-bottom: 1.4rem;
    line-height: 1.4;

    p {
      position: relative;
      display: inline;
      padding-bottom: 1.4rem;

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        content: "";
      }
    }
  }

  .page-section .field-body p {
    @include indent-default;
    &:first-child {
      // text-indent: 0;
    }
  }
  .page-section .field-body blockquote p {
    text-indent: initial;
  }

  .interview .field-body {
    padding-top: 1rem;
  }

  .interview .field-body span {
    @include type($univers, 1rem, uppercase);

    display: inline-block;
  }

  .interview .field-body p.oddP {
  }

  .interview .field-body p > span:first-child.odd {
    padding-left: 4rem;
    width: 4rem;
  }

  .interview .field-body p > span:first-child {
    width: 4rem;
  }
}

.page-node-type-issue .from-the-editor {
  blockquote {
    padding: 0 1.5rem;
    @include mq($from: tablet) {
      padding: 0 3rem;
    }
    font-family: $univers-italic;
    em {
      font-family: $univers;
    }
  }
}

.endnotes {
  padding-top: 2rem;
  margin-top: 2rem;
  // border-top: 1px solid red;
  h2 {
    padding-top: 2rem;
    font-family: $life;
  }
  em {
    font-family: $life-italic;
  }
}

// basic pages
.page-node-type-page {
  .region__content-wrapper {
    .region__page-title {
      @include basic-page-title;
      padding-bottom: 3rem;
    }
    .body {
      @include body;
      line-height: 1.2;
    }
    .body p {
      padding-bottom: 1rem;
    }
    .body {
      a {
        color: $default-link;
        text-decoration: none;
        border-bottom: 1px solid #0020d6;
        transition: color 0.22s ease;
      }
      a:hover {
        color: #0020d6;
        border-bottom: 1px solid #0020d6;
      }
    }
  }
}

.distribution {
  .region__content-wrapper {
    .body p {
      padding-bottom: 0rem;
    }
  }
}

.imprint {
  .region__content-wrapper {
    h2 {
      @include section-title;
      padding: 2rem 0 0.3rem;
    }
    .body p {
      padding-bottom: 0rem;
    }
  }
}

@include mq($from: tablet) {
  .page-node-type-page {
    .region__content-wrapper {
      .body p {
        @include justify;
      }
    }
  }
}

.toc > h2 {
  @include font-size(1.9rem);
}

.page-node-type-page {
  .region__content {
    margin-bottom: 3rem;
  }
}

.status-messages {
  ul {
    font-family: $life;
    font-size: $body;
  }
}

.node--799 {
  .page-section .field-body p {
    text-indent: 0;
  }
}

.node--806 .field__item:nth-child(2) {
  .page-section .field-body p {
    text-indent: 0;
  }
  strong {
    font-family: $life-bold;
  }
}

.toc .field-article-pre-title {
  font-family: $univers !important;
  font-size: 1rem !important;
}
