// issue toc
.from-the-editor {
  .page-section {
    @include justify;
    @include type($univers, $font-sans-text, normal);
    line-height: 1.2;
  }
  .page-section .field-body p {
    text-indent: $indent;
    padding: 0.5rem 0;
    &:first-child {
      text-indent: 0;
      padding: 0rem;
    }
  }
}

// articles
.page-node-type-article .article,
.from-the-editor .page-section {
  padding-bottom: 4rem;
}

.page-node-type-article {
  .interview,
  .page-section,
  .endnotes {
    @include justify;
  }

  blockquote {
    padding: 0 3rem;
    font-family: $life-italic;
    em {
      font-family: $life;
    }
  }

  .interview .field-body p,
  .page-section .field-body p {
    padding: 0.5rem 0;
  }

  .interview .field-body,
  .page-section .field-body {
    @include body;
    line-height: 1.1;
    margin-bottom: 1rem;
    em {
      font-family: $life-italic;
    }
  }

  .page-section .field-section-title {
    max-width: $tablet;
    margin: 0 auto;
    @include section-title;
    margin-bottom: 2rem;
    line-height: 1.4;

    p {
      position: relative;
      display: inline;
      padding-bottom: 1rem;

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid;
        content: "";
      }
    }
  }

  .page-section .field-body p {
    text-indent: $indent;
    &:first-child {
      text-indent: 0;
    }
  }

  .interview .field-body {
    border-top: 1px solid $black;
    padding-top: 1rem;
  }

  .interview .field-body span {
    @include type($univers, 1rem, uppercase);

    display: inline-block;
  }

  .interview .field-body p > span:first-child.odd {
    width: 4rem;
    padding-left: 4rem;
  }

  .interview .field-body p > span:first-child {
    width: 4rem;
  }
}

.page-node-type-issue .from-the-editor {
  blockquote {
    padding: 0 3rem;
    font-family: $univers-italic;
    em {
      font-family: $univers;
    }
  }
}

// basic pages
.page-node-type-page {
  .region__content-wrapper {
    .region__page-title {
      @include basic-page-title;
      padding-bottom: 3rem;
    }
    .body {
      @include body;
      line-height: 1.2;
    }
    .body p {
      padding-bottom: 1rem;
    }
    .body {
      a {
        color: $default-link;
        text-decoration: none;
        border-bottom: 1px solid $default-link;
        transition: color 0.22s ease;
      }
      a:hover {
        color: $default-hover;
        border-bottom: 1px solid $default-hover;
      }
    }
  }
}

.distribution {
  .region__content-wrapper {
    .body p {
      padding-bottom: 0rem;
    }
  }
}

.imprint {
  .region__content-wrapper {
    h2 {
      @include section-title;
      padding: 2rem 0 0.3rem;
    }
    .body p {
      padding-bottom: 0rem;
    }
  }
}

@include mq($from: tablet) {
  .page-node-type-page {
    .region__content-wrapper {
      .body p {
        @include justify;
      }
    }
  }
}
