h3 {
  @include topic-ornament;
}

.featured-release h3,
.in-conversation h3 {
  @include title-sm;
  text-transform: initial;
}

.in-this-issue h3 {
  @include topic-ornament-sans;
}

.from-the-editor h3 {
  @include title-md-normal;
  text-transform: initial;
  padding-bottom: 1.4rem;
}

// article teaser components: home, issue toc
.issues .toc,
.home .articles .flex-container {
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
    &:first-child {
      margin-top: 0rem;
    }

    @include mq($from: tablet) {
      margin-top: 0rem;
    }
  }

  .item a.article-link {
    @include link-cover;
  }

  .item .field-article-rel-issues {
    @include title-sc;
    text-transform: uppercase;
    padding-top: 1rem;

    span {
      padding-right: 3px;
    }
    z-index: 100;
  }

  h2.title {
    @include title-md;
  }

  .field-article-primary-author {
    @include title-sm;
    margin-top: auto;
  }
}

// featured release
.home .featured-release {
  .title {
    @include title-lg;
    padding-top: 1rem;
  }
  .field-release-artists {
    @include title-sm;
  }
  .release-metadata {
    @include title-sc;
    display: inline;
    > div {
      display: inline;
    }
  }
  .field-release-catalog-number:after {
    content: "ꞏ";
    padding: 0 5px;
  }

  .field-release-release-summary {
    @include type($life, 1.2rem, normal);
    padding-top: 2rem;
    @include justify;
  }
  .field-release-release-date {
    @include title-sc;
    display: block;
    padding-top: 2rem;
    > div {
      display: inline;
    }
    .field__label:after {
      content: "ꞏ";
      padding: 0 5px;
    }
  }
}

// in conversation
.home .in-conversation {
  p {
    @include type($univers, $font-md, normal);
  }
}

.home .in-conversation .authors {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  @include type($life, 1.2rem, normal);
  a {
    line-height: 1.2;
  }
}

.path-frontpage .in-this-issue {
  .slide__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .slide__caption {
    width: 50%;
    text-align: center;
  }

  .slide__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .c-item__title {
    @include title-md-sans;
    padding: 1rem 1rem 2rem 1rem;
  }

  .c-item__author {
    @include title-sm-serif;
    margin-top: auto;
    margin-bottom: 2rem;
  }
}

.region__page-title .c-title {
  .c-title__tag,
  .c-title__pre-title {
    @include title-md-normal;
  }
}

// issue main
.path-issues .issue-marquee {
  margin: 0 auto;
  max-width: $wide;
  text-align: center;
  img {
    height: calc(100vh - 5rem);
    width: auto;
  }
}

// issue editor
.issues .from-the-editor {
  .title {
    @include type($life, 3rem, uppercase);

    line-height: 1;
    em {
      font-family: $life-italic;
    }
  }

  .page-section {
    @include justify;
    @include type($univers, $font-md, normal);
  }
  .page-section .field-body p {
    text-indent: $indent;
    &:first-child {
      text-indent: 0;
    }
  }
}

// issue toc
.path-issues h3 {
  @include topic-ornament;
}

.slick__slide .slide__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}

// article page section
// basic page section
.page-node-type-article {
  .interview,
  .page-section,
  .endnotes {
    @include justify;
  }

  blockquote {
    padding: 0 3rem;
    font-family: $life-italic;
    em {
      font-family: $life;
    }
  }

  .interview .field-body p,
  .page-section .field-body p {
    padding: 0.5rem 0;
  }

  .interview .field-body,
  .page-section .field-body {
    @include type($life, 1.2rem, normal);
    line-height: 1.1;
    margin-bottom: 1rem;
    em {
      font-family: $life-italic;
    }
  }

  .page-section .field-section-title {
    max-width: $tablet;
    margin: 0 auto;
    @include type($univers, 1rem, uppercase);
    margin-bottom: 2rem;
    line-height: 1.4;
    em {
      font-style: $univers-italic;
    }
    p {
      position: relative;
      display: inline;
      padding-bottom: 1rem;

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid $black;
        content: "";
      }
    }
  }

  .page-section .field-body p {
    text-indent: $indent;
    &:first-child {
      text-indent: 0;
    }
  }

  .interview .field-body {
    border-top: 1px solid $black;
    padding-top: 1rem;
  }

  .interview .field-body p {
    text-indent: $indent;
  }

  .interview .field-body span {
    @include type($univers, 1rem, uppercase);
    padding-right: 1rem;
  }
}
