textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}
// buttons

.button {
  background: darken($white, 10%);
  line-height: 1;
  padding: 14px 40px;
}

// search
input {
}

// mc input
.mailchimp-signup-subscribe-form {
  input.form-email {
    width: calc(100% - 0.8rem);
    height: 2rem;
    text-transform: none;
    font-stretch: normal;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    background: darken($white, 10%);
    color: darken($black, 95%);
    margin-top: 0.7rem;
  }
}

// mc submit button
.mailchimp-signup-subscribe-form {
  .button {
    background: darken($white, 10%);
    line-height: 1;
    margin-top: 0.7rem;
    padding: 0.7rem 2rem;
  }
}

// user login form
.user-login-form {
  input[type="text"],
  input[type="password"] {
    width: calc(50% - 0.8rem);
    height: 2rem;
    text-transform: none;
    font-stretch: normal;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  }

  input[type="submit"] {
    margin-top: 1rem;
  }

  .form-item-persistent-login {
    margin-top: 1rem;
  }

  .option {
    @include font-size(0.8rem);
  }

  .button {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    @include font-size(0.8rem);
    border: none;
    padding: 0.7rem 1.5rem;
  }

  .description {
    @include font-size(0.8rem);
    padding: 0.3rem;
  }
}

.form-item--error-message {
  color: red;
  @include font-size(0.8rem);
  padding-left: 0.3rem;
}
