textarea:focus,
input:focus {
  outline: none;
  background: $light-gray;
}

*:focus {
  outline: none;
}
.user-login-form {
  input[type="text"],
  input[type="password"] {
    width: calc(50% - 0.8rem);
    height: 2rem;
    text-transform: none;
    color: $black;

    font-stretch: normal;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  }

  input[type="submit"] {
    margin-top: 1rem;
  }

  .form-item-persistent-login {
    margin-top: 1rem;
  }

  .option {
    @include font-size(0.8rem);
  }

  .button {
    display: inline-block;
    cursor: pointer;
    background: $light-gray;
    text-transform: uppercase;
    @include font-size(0.8rem);
    color: $black;
    border: none;
    padding: 1rem 1.5rem;
    &:hover {
      color: $black;
      background: $hyla;
    }
  }

  .description {
    @include font-size(0.8rem);
    padding: 0.3rem;
  }
}
