.path-frontpage {
  main {
    padding-top: 0rem;
  }
  header {
    background: $white;
    a {
      color: $black;
    }
  }
  .hamburger-inner {
    &,
    &::before,
    &::after {
      background-color: $black;
    }
  }
}

.path-frontpage .issue-wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.path-frontpage {
  .latest-issues .issue-wrapper {
    display: none;
  }
}

// Featured blocks

.path-frontpage .upcoming {
  padding: 1rem 0rem 3rem 0rem !important ;
}

.path-frontpage .upcoming,
.featured {
  margin: 3rem auto;
  max-width: $desktop;
  padding: 0 1rem;
  h2 {
    font-family: $life;
    @include font-size(1.9rem);
    text-transform: uppercase;
    border-bottom: 1px solid $black;
    margin-bottom: 1rem;
  }
  h2.title {
    font-family: $univers;
    @include font-size(1.2rem);
    border-bottom: none;
  }
  .text-long p {
    font-family: $life;
    @include font-size(1.2rem);
    padding-top: 1rem;
    padding-right: 1rem;
    em {
      font-family: $life-italic;
    }
  }
}

@include mq($from: tablet) {
  .path-frontpage {
    .upcoming,
    .featured {
      h2 {
        margin-bottom: 2rem;
      }
      h2.title {
        margin-bottom: 0rem;
      }
    }

    .release-wrapper,
    .upcoming-wrapper {
      display: flex;
      flex-direction: row;
      .image-wrapper,
      .metadata-wrapper {
        flex-basis: 50%;
      }
    }
  }
  .upcoming .release-wrapper {
    flex-direction: row-reverse !important;
    .metadata-wrapper {
      h2 {
        margin-right: 2rem;
      }
      .text-long {
        margin-right: 2rem;
      }
    }
    .image-wrapper {
    }
  }
}
