.path-frontpage .region-content{
height: 100vh;
}

.path-frontpage .views-element-container {
      height: 100vh;
   @include auto-margin;
  .short-title {
    text-transform: uppercase;
    font-family: $univers;
  }
  h1 {
    font-family: $life;
    text-transform: uppercase;
    font-size: 4rem;
  }
  a {
  }
}

.path-frontpage .views-element-container div {

  div {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}
