.path-frontpage {
  main {
    padding-top: 0rem;

  }
  header {
    background: $white;
    a {
      color: $black;
    }
  }
  .hamburger-inner {
    &,
    &::before,
    &::after {
      background-color: $black;
    }
  }
}

// Featured blocks


.path-frontpage .region__content {
  margin: 0 auto;
  max-width: $desktop;
  padding: 5rem 1rem;
  > .block {
    margin-bottom: 2rem;
  }

  > .block:last-child {
    margin-bottom: 0rem;
  }

  > .block > h2 {
    border-bottom: 1px solid $black;
    font-family: $univers;
    @include font-size(1.9rem);
    margin-bottom: 1rem;
  }

  h2.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include font-size(1.4rem);
  }
  .text-long p {
    font-family: $univers;
    @include font-size(1.2rem);
    padding-bottom: 1rem;
    padding-right: 1rem;
    em {
      font-family: $univers-italic;
    }
}
}

@include mq($from: tablet) {

.now, .upcoming {
  .release-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.featured {
  .release-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}

 .path-frontpage .region__content h2.title {
    padding-top: 0rem;
  }

.release-wrapper {
  .image-wrapper,
    .metadata-wrapper {
       flex-basis: 50%;
      }
}

.now, .upcoming {
  .metadata-wrapper {
    margin-left: 1rem;
  }
}

.featured {
  .metadata-wrapper {
    margin-right: 1rem;
  }
}


}




