// header
header.headroom {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
}

header.headroom {
  will-change: transform;
  transition: all 200ms ease;
}

header.headroom--pinned {
  transform: translateY(0%);
  opacity: 1;
}

header.headroom--unpinned {
  border-bottom: none;
  transform: translateY(-100%);
  opacity: 0;
}

// breadcrumb
.breadcrumbs.headroom {
  z-index: 20;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.breadcrumbs.headroom {
  transition: all 0.5s linear;
}

.breadcrumbs.headroom--pinned {
  opacity: 0;
}

.breadcrumbs.headroom--unpinned {
  opacity: 1;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  animation-name: slideUp;
}
