// header
.user-logged-in .headroom {
}

header.headroom {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  opacity: 1;
  background: $black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

header.headroom {
  will-change: transform;
  transition: all 200ms linear;
}

header.headroom--pinned {
  transform: translateY(0%);
  opacity: 1;
}

header.headroom--unpinned {
  border-bottom: none;
  transform: translateY(-100%);
  opacity: 0;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  animation-name: slideUp;
}

//breadcrumb
.breadcrumb.headroom {
  z-index: 20;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: $white;
}

.breadcrumb.headroom {
  will-change: transform;
  transition: opacity 0.2s linear;
}

.breadcrumb.headroom--pinned {
  opacity: 0;
}

.breadcrumb.headroom--unpinned {
  opacity: 1;
}
