// @import "../vendor/colofilters";
.media-image .field__item {
  background-color:    $hyla;
  display:             flex;
  flex:                1 1 100%;
  height:              100%;
  overflow:            hidden;
  position:            relative;
}

.media-image .field__item img {
  filter:              grayscale(100%) contrast(1) blur(0);
  flex:                1 0 100%;
  height:              100%;
  max-width:           100%;
  mix-blend-mode:      multiply;
  object-fit:          cover;
  opacity:             1;
  position:            relative;
  width:               100%;
}

.media-image .field__item::before {
  background-color:    $black;
  bottom:              0;
  content:             '';
  height:              100%;
  left:                0;
  mix-blend-mode:      lighten;
  position:            absolute;
  right:               0;
  top:                 0;
  width:               100%;
  z-index:             1;
}
