.b-lazy,
.b-responsive {
  // opacity: 0 !important;
  transition: opacity 500ms ease-in-out !important;
}
.b-loaded {
  // opacity: 1 !important;
  transition: opacity 500ms ease-in-out !important;
}

/* Needed to display preloader with CSS BG image, otherwise hidden. */
.b-loaded,
.b-error,
.media--loading.media--background {
  opacity: 1;
}

// turn off the hideous preloader
.media--loading::before {
  display: none !important;
}

// article media, remote media wrapper
.page-node-type-article article {
  .media__wrapper {
    padding: 1rem 0rem 1rem 0rem;
    margin-bottom: 1.5rem;
  }
}
