.b-lazy,
.b-responsive {
  // opacity: 0 !important;
  transition: opacity 500ms ease-in-out !important;
}
.b-loaded {
  // opacity: 1 !important;
  transition: opacity 500ms ease-in-out !important;
}

/* Needed to display preloader with CSS BG image, otherwise hidden. */
.b-loaded,
.b-error,
.media--loading.media--background {
  opacity: 1;
}

// turn off the hideous preloader
.media--loading::before {
  display: none !important;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.field-media-oembed-video {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;

}
