// .article-author-container .media--image img,
// .field-article-gallery img {
//   filter: grayscale(100%) contrast(1) blur(0);
//   height: 100%;
//   max-width: 100%;
//   mix-blend-mode: multiply;
//   object-fit: cover;
//   opacity: 0.8;
//   position: relative;
//   width: 100%;
// }

.b-lazy,
.b-responsive {
  opacity: 0 !important;
  transition: opacity 500ms ease-in-out !important;
}
.b-loaded {
  opacity: 1 !important;
  transition: opacity 500ms ease-in-out !important;
}
