// .article-author-container .media--image img,
// .field-article-gallery img {
//   filter: grayscale(100%) contrast(1) blur(0);
//   height: 100%;
//   max-width: 100%;
//   mix-blend-mode: multiply;
//   object-fit: cover;
//   opacity: 0.8;
//   position: relative;
//   width: 100%;
// }

.b-lazy,
.b-responsive {
  opacity: 0 !important;
  transition: opacity 500ms ease-in-out !important;
}
.b-loaded {
  opacity: 1 !important;
  transition: opacity 500ms ease-in-out !important;
}


/**
 * @file
 */

/* Credit: https://github.com/tobiasahlin/SpinKit */
@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* The lazyloaded element: IMG, IFRAME, DIV. */
.b-lazy,
.b-responsive {
  display: block;
  height: auto;
  min-height: 1px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

/* Needed to display preloader with CSS BG image, otherwise hidden. */
.b-loaded,
.b-error,
.media--loading.media--background {
  opacity: 1;
}

/** Fix for conflict with Bootstrap CSS if not using aspect ratio. */
.blazy .media {
  display: block;
}

.media--loading {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

// turn off the hideous preloader
.media--loading::before {
  display: none !important;
}
