// default links
a {
  color: $black;
  text-decoration: none;
}

.site-name a {
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

ol li a {
  line-height: 1;
}

// header links
header .hamburger,
header .site-name,
header .main,
header .subscribe-search {
  padding-top: 3px; // Univers has a dodgy baseline
}

header {
  a {
    box-shadow: none;
  }

  a:hover {
    color: $black;
    box-shadow: 0 1px 0 $black;
  }

  .site-name a:hover {
    box-shadow: none;
  }

  a.is-active {
    color: $black;
    box-shadow: 0 2px 0 $black;
  }

  a.is-active:hover {
    color: $black;
    box-shadow: 0 2px 0 $black;
  }
}

// article links
.page-section,
.endnotes {
  a {
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }

  a:hover {
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }

  a.is-active {
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }

  a.is-active:hover {
    transition: all 0.2s ease;
    box-shadow: 0 1px 0 $black;
  }
}

a.issue__link:hover {
  color: $dark-gray;

  transition: all 0.2s ease;

  .issue__title span {
    display: inline;
    box-shadow: 0 1px 0 $dark-gray;
  }
}

// footer social buttons
.region-footer-first .social-buttons {
  margin-top: 2rem;

  ul {
    padding-top: 0.7rem;
  }

  li {
    padding-right: 0.7rem;
    position: relative;

    &:last-child {
      padding-right: 0;
    }
  }
}

// footer region links
footer {
  a {
    transition: all 0.2s ease;
  }

  a:hover {
    transition: all 0.2s ease;
  }

  a.is-active {
    transition: all 0.2s ease;
  }
}

.social-buttons {
  a:hover {
    box-shadow: none;
  }
}

// static page links
.page-node-type-page .node__content {
  a {
    box-shadow: 0 1px 0 #0020d6;
    transition: all 0.2s ease;
  }

  a:hover {
    color: #0020d6;
    box-shadow: none;
    transition: all 0.2s ease;
  }
}
