// default link
a {
  color: $black;
}

.site-name a {
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

ol li a {
  line-height: 1;
}

// article social buttoons


// footer social buttons
.region-footer-first .social-buttons {
  margin-top: 2rem;
  ul {
    padding-top: 0.7rem;
  }
  li {
    padding-right: .7rem;
    position: relative;
    &:last-child {
      padding-right: 0;
    // a {
    //   top: 5px;
    //   position: absolute;
    // }
  }
}
}

// footer region links
footer {
  a {
    color: $white;
    transition: all 0.2s ease;
  }
  a:hover {
    color: $dark-gray;
    transition: all 0.2s ease;
  }
  a.is-active {
    color: $dark-gray;
  }
}

.social-buttons {
  a:hover {
    box-shadow: none;
  }
}

// static page links
.distribution .body {
    a {
      box-shadow: 0 1px 0 $black;
      transition: all 0.2s ease;
    }
    a:hover {
      color: $dark-gray;
      box-shadow: none;
      transition: all 0.2s ease;
    }
}