.site-name a {
  font-family: $default-font;
}

a {
  text-decoration: none;
  color: $black;
}

.region-content article {
  @include body-links($link, $visited, $hover, $active);
}

body {
  // color: $light-gray !important;
}

// header {
//   @include menu-links(
//     $current-color,
//     $current-color,
//     $current-color-accent,
//     $current-color-accent
//   );
// }

// header.is-active,
// .overlay {
//   @include menu-links(
//     $white,
//     $white,
//     $white,
//     $white
//   )

//   .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
//     background-color: $white;
//   }
// }

// }

// // site name
.region-header > div a {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

// footer {
//   @include menu-links(
//     $white,
//     $white,
//     $current-color-accent,
//     $current-color-accent
//   );
// }

// .legal-wrapper {
//   @include menu-links(
//     $current-color-gray,
//     $white,
//     $current-color-accent,
//     $current-color-accent
//   );
// }

// footer {
//   ul li a.is-active {
//     color: $current-color-accent;
//   }
// }
