.site-name a {
  font-family: $default-font;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

a {
  text-decoration: none;
  color: $black;
}

.region-content article {
  @include body-links($link, $visited, $hover, $active);
}

.is-active {
  border-bottom: 1px solid;
  border-color: $black;
}

.breadcrumb,
.article {
  a:hover {
    color: $white !important;
    border-bottom: 1px solid;
    border-color: $white;
  }
}

.footer-menu {
  a {
    color: $white;
  }
  a:hover {
    color: $white !important;
    border-bottom: 1px solid;
    border-color: $white;
  }
  .is-active {
    color: $black;
    border-bottom: 1px solid;
    border-color: $black;
  }
}

.person-link a {
  color: $white;
  &:hover {
    border-bottom: 1px solid;
    border-color: $white;
  }
}
