// default links
a {
  color: $black;
  text-decoration: none;
}

.site-name a {
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  color: $white;
}

ol li a {
  line-height: 1;
}

// header links
header {
  a {
    box-shadow: none;
    transition: all 0.2s ease;
  }
  a:hover {
    color: $dark-gray;
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }
  .site-name a:hover {
    box-shadow: none;
  }
  a.is-active {
    color: $dark-gray;
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }
  a.is-active:hover {
    color: $black;
    transition: all 0.2s ease;
    box-shadow: 0 1px 0 $black;
  }
}

// article links
.page-section {
  a {
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }
  a:hover {
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }
  a.is-active {
    box-shadow: 0 1px 0 $dark-gray;
    transition: all 0.2s ease;
  }
  a.is-active:hover {
    transition: all 0.2s ease;
    box-shadow: 0 1px 0 $black;
  }
}

a.issue__link:hover {
  color: $dark-gray;

  transition: all 0.2s ease;
  .issue__title span {
    display: inline;
    box-shadow: 0 1px 0 $dark-gray;
  }
}

// footer social buttons
.region-footer-first .social-buttons {
  margin-top: 2rem;
  ul {
    padding-top: 0.7rem;
  }
  li {
    padding-right: 0.7rem;
    position: relative;
    &:last-child {
      padding-right: 0;
    }
  }
}

// footer region links
footer {
  a {
    color: $white;
    transition: all 0.2s ease;
  }
  a:hover {
    color: $dark-gray;
    transition: all 0.2s ease;
  }
  a.is-active {
    color: $dark-gray;
  }
}

.social-buttons {
  a:hover {
    box-shadow: none;
  }
}

// static page links
.page-node-type-page .node__content {
  a {
    box-shadow: 0 1px 0 $black;
    transition: all 0.2s ease;
  }
  a:hover {
    color: $dark-gray;
    box-shadow: none;
    transition: all 0.2s ease;
  }
}
