// navigation
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 1rem;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
// $hamburger-layer-color: $current-color;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 0.7;
// $hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import "../vendor/hamburgers/hamburgers";

header {
  @include font-size(1rem);
}

.region__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

// default mobile navigation
.block-main-menu {
  display: none;
}
button.hamburger {
  display: flex;
}

// menu tablet up
@include mq($from: tablet) {
  .region__header {
    justify-content: space-between;
  }

  .block-main-menu,
  .breadcrumb {
    display: flex;
  }

  button.hamburger {
    display: none;
  }
}

// main menu
ul.menu {
  display: flex;
}

ul.menu li.menu-item {
  padding-right: 1rem;
  &:last-child {
    padding-right: 0rem;
  }
}

// breadcrumb
.breadcrumb {
  @include font-size(0.9rem);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 1rem;
}

ol.breadcrumb {
  display: flex;
  align-items: top;

  li {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><circle cx='2.5' cy='2.5' r='2.5' /></svg>")
        no-repeat;
      height: 6px;
      width: 6px;
      padding-bottom: 4px;
      padding-right: 1rem;
    }

    &:last-child {
      @include mq($from: tablet) {
        display: flex;
        padding-right: 1rem;
      }
    }
  }
  li:first-of-type {
    background: none;
    &::before {
      background: none;
      padding-right: 0;
      height: 0;
      width: 0;
    }
  }
}

// footer region
// footer layout & styling
footer,
footer .body p {
  @include font-size(0.9rem);
  font-family: $univers;
  color: $white;
  em {
    font-family: $univers-italic;
  }
}

.footer__container {
  display: flex;
}

.region-footer {
  background: lighten($black, 12%);
  padding: 3rem;
}

.social-buttons {
  margin-top: 3rem;
  h3 {
    padding-bottom: 0.5rem;
  }
}

.legal__container {
  background: $black;
  padding: 1rem 3rem;
}

@include mq($from: tablet) {
  .copyright__container {
    display: flex;
    align-items: top;
    justify-content: space-between;
  }
  .legal ul.menu {
    display: flex;
    align-items: top;
    justify-content: space-between;
    li.menu-item:first-child {
      padding-right: 1rem;
    }
  }
}

.social-buttons ul li a {
  height: 15px;
  width: 25px;
  padding-right: 0.5rem;
}
