// Navigation.scss
// Layout
.region-header ul {
  display: flex;
  align-items: center;

  li {
    padding-right: 1rem;

    &:first-child {
      margin-right: auto;
    }

    &:last-child {
      padding-right: 0rem;
    }
  }
}

// Breadcrumbs
// Layout
#block-tenney-breadcrumbs {
  width: 100%;
}

.breadcrumb ol {
  display: flex;

  li {
    padding-right: 0.3rem;

    &:last-child {
      padding-right: 0;
    }

    > a {
      text-decoration: none;
    }

    > a:after {
      content: "\2F";
      padding-left: 5px;
    }
  }
}

header {
  border-bottom: 1px solid $current-color;
}

footer {
}

.region-footer-first {
}

.region-footer-second {
}

.region-footer-second {
}
