// navigation
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 1rem;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
// $hamburger-layer-color: $current-color;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 0.7;
// $hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import "../vendor/hamburgers/hamburgers";

header {
  @include font-size(1.2rem);
  -webkit-font-smoothing: antialiased;
}

header,
.breadcrumb {
  font-family: $default-font;
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// default mobile navigation
.block-main-menu {
  display: none;
}
button.hamburger {
  display: flex;
}

// menu tablet up
@include mq($from: tablet) {
  .region-header {
    justify-content: space-between;
  }

  .block-main-menu,
  .breadcrumb {
    display: flex;
  }

  button.hamburger {
    display: none;
  }
}

// main menu
.block-main-menu ul {
  display: flex;
}

.block-main-menu li {
  margin: 0 2rem;

  &:last-child {
    padding-right: 0;
  }
}

// breadcrumb
.breadcrumb {
  @include font-size(0.9rem);
  -webkit-font-smoothing: antialiased;
}

.breadcrumb ol {
  display: flex;
  align-items: top;

  li {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><circle cx='2.5' cy='2.5' r='2.5' /></svg>")
        no-repeat;
      height: 6px;
      width: 6px;
      padding-bottom: 4px;
      padding-right: 3rem;
    }

    &:last-child {
      display: none;
      @include mq($from: tablet) {
        display: flex;
        padding-right: 1rem;
      }
    }
  }
  li:first-of-type {
    background: none;
    &::before {
      background: none;
      padding-right: 0;
      height: 0;
      width: 0;
    }
  }
}

// breadcrumb unpinned

// Footers
.region-footer {
  @include font-size(0.9rem);
  padding: 3rem;
  display: block;
  font-family: $univers;
  em {
    font-family: $univers-italic;
  }
}

.region-footer .about-sa-title {
  padding-bottom: 1rem;
}

.region-footer .about-sa {
  text-align: justify;
  text-justify: inter-character;
}

.region-footer .about-sa .labels {
  padding-top: 1rem;
}

.region-footer .about-sa .body {
  padding-bottom: 2rem;
  border-bottom: 1px solid $white;
}

.region-footer .mailchimp-signup-subscribe-form {
  padding-bottom: 1rem;
}

.region-footer .newsletter-social .body p {
  padding-bottom: 1rem;
}

.region-footer-first .container,
.region-footer-second .container,
.region-legal .container {
  @include global-margin;
  max-width: $max-vw;
}

// Footer first
.region-footer-first .container {
  display: flex;
  flex-direction: column;

  .col-1 {
    margin-top: 1rem;
    .newsletter-social .body p {
      padding: 0rem 1rem 1rem 0;
    }
  }
  .col-2,
  .newsletter-social {
    margin-top: 2rem;
    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  @include mq($from: tablet) {
    flex-direction: row;
    .col-1 {
      margin-top: 0rem;
      padding-right: 6rem;
      flex: 1;
    }
    .col-2 {
      padding-left: 1rem;
      flex: 1;
    }
  }
}

.footer-menu {
  margin-top: 3rem;
}

.follow-us {
  padding-bottom: 0.5rem;
}

.region-footer-first ul.social {
  display: flex;

  li {
    padding-right: 1rem;
    &:last-child {
      padding-right: 0;
    }
  }
}

// Footer labels menu
.labels {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  .labels-dram {
    padding-right: 2rem;
  }
}

.labels {
  .labels-dram a {
    width: 100px;
    height: 57px;
    background: url("../images/logo-sm-dram.png") 0 0 no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
  }
  .labels-nwr a {
    width: 100px;
    height: 93px;
    background: url("../images/logo-sm-nwr-ware.png") 0 0 no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
  }
}

// Footer second
// .region-footer-second .container {
//   ul li {
//     padding-bottom: 0.5rem;
//   }
//   ul:last-child li:last-child {
//     padding-bottom: 0rem;
//   }
//   @include mq($from: tablet) {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 75%;
//     ul li:last-child {
//       padding-bottom: 0rem;
//     }
//   }
// }

// Legal
.region-legal {
  padding: 1rem 3rem;
  .container {
    @include mq($from: tablet) {
      display: flex;
      justify-content: space-between;
    }
  }
  nav ul {
    display: block;
    @include mq($from: tablet) {
      display: flex;
      li:first-child {
        padding-right: 1rem;
      }
    }
  }
}
