// navigation
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 1rem;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 0.7;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import "../vendor/hamburgers/hamburgers";

header {
  background: $white;
  @include font-size(1.2rem);
  padding: calc(1.5rem - 3px);
  display: flex;
  justify-content: space-between;
}

.header__second .main,
.header__third .subscribe {
  display: none;
}

.subscribe-search {
  display: flex;
  justify-content: flex-end;
}

@include mq($from: desktop) {
  .header__first,
  .header__third {
    flex-basis: calc(20vw - 1rem);
  }
  .header__second {
    flex-basis: 60vw;
    display: flex;
    justify-content: space-between;
  }
  .header__second .main {
    display: flex;
    ul {
      display: flex;
    }
    ul li {
      padding-right: 1rem;
      &:last-child {
        padding-right: 0rem;
      }
    }
  }
  d .header__third .subscribe {
    display: initial;
    margin-right: 0.5rem;
  }
}

// breadcrumb
.breadcrumbs {
  background: $white;
  font-size: $font-nav-sm;
  padding: 1.5rem;
  border-bottom: $border-light;
}

ol.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  li {
    flex-basis: 10%;
  }

  li:last-child {
    flex-basis: 90%;
  }

  li:after {
    display: inline-block;
    content: "/";

    text-align: center;
    padding-bottom: 2px;
  }

  li:last-child:after {
    content: "";
  }
}
