// Navigation.scss
// Layout

$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 1rem;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
// $hamburger-layer-color: $current-color;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 0.7;
// $hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import "../vendor/hamburgers/hamburgers";

header.is-active .region-header > div {
  margin-right: 0rem;
}

.region-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    // margin-right: auto;
  }
  > nav ul {
    display: flex;
  }
  > nav ul li {
    padding-right: 1rem;
    &:last-child {
      padding-right: 1rem;
    }
  }
}

// Breadcrumbs
// Layout
#block-cage-breadcrumbs {
  width: 100%;
}

.breadcrumb ol {
  display: flex;

  li {
    padding-right: 0.3rem;

    &:last-child {
      padding-right: 0;
    }

    > a {
      text-decoration: none;
    }

    > a:after {
      content: "\2F";
      padding-left: 5px;
    }
  }
}

header {
  border-bottom: 1px dotted $black;
}

// Footer
.region-footer {
  background-color: gray;
  padding: 3rem;
  display: block;
}

.region-footer-first .container,
.region-footer-second .container,
.region-legal .container {
  @include global-margin;
  max-width: $max-vw;
}

.region-footer-first .container {
  display: flex;
  flex-direction: column-reverse;

  .col-1 {
    margin-top: 3rem;
  }

  @include mq($from: tablet) {
    flex-direction: row;
    .col-1 {
      margin-top: 0rem;
      padding-right: 1rem;
      flex: 1;
    }
    .col-2 {
      padding-left: 1rem;
      flex: 1;
    }
  }
}

.region-footer-first ul.social {
  display: flex;
  li {
    padding-right: 1rem;
    &:last-child {
      padding-right: 0;
    }
  }
}

.region-footer-second .container {
  ul li {
    padding-bottom: 0.5rem;
  }
  ul:last-child li:last-child {
    padding-bottom: 0rem;
  }
  @include mq($from: tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    ul li:last-child {
      padding-bottom: 0rem;
    }
  }
}

// legal
.region-legal {
  padding: 1rem 3rem;
  background-color: $black;
  color: $white;
  .container {
    @include mq($from: tablet) {
      display: flex;
      justify-content: space-between;
    }
  }
  nav ul {
    display: block;
    @include mq($from: tablet) {
      display: flex;
      li:first-child {
        padding-right: 1rem;
      }
    }
  }
}
