// basic page section

.interview,
.page-section {
  @include justify;
}

.interview .field-body p,
.page-section .field-body p {
  padding: 0.5rem 0;
}

.interview .field-body,
.page-section .field-body {
  @include type($life, 1.2rem, normal);
  line-height: 1.1;
  margin-bottom: 1rem;
}

.page-section .field-section-title {
  @include type($univers, 1rem, uppercase, $black);
  margin-bottom: 2rem;
  line-height: 1.4;
  em {
    font-style: italic;
  }
  p {
    position: relative;
    display: inline;
    padding-bottom: 1rem;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid $black;
      content: "";
    }
  }
}

.page-section .field-body p {
  text-indent: $indent;
  &:first-child {
    text-indent: 0;
  }
}

.interview .field-body {
  border-top: 1px solid $black;
  padding-top: 1rem;
}

.interview .field-body p {
  text-indent: $indent;
}

.interview .field-body span {
  @include type($univers, 1rem, uppercase, $black);
  padding-right: 1rem;
}
