.page-section .field__items {
  sup {
    vertical-align: super;
    @include font-size(0.8rem);
  }
  span {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    @include font-size(0.8rem);
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    sup {
      font-size: inherit;
      vertical-align: baseline;
      padding-right: $indent;
    }
  }
}
