.path-user {
  .layout {
    @include article-layout;
    margin: 0 auto;
  }

  main {
    margin-top: 4rem;
    font-family: $univers;
  }
  .js-form-submit {
    border: 1px solid black;
  }
}

.user-logged-in {
  header.headroom {
    position: static;
  }
  .region__content {
    @include article-layout;
  }
}
