// base, reset enhancements
html {
  background: $white;
}

header {
  opacity: 1;
}

body {
  line-height: 1.2;
  font-family: $default-font;
  text-rendering: optimizeLegibility;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: $black;
}
