h1,
article__title {
  line-height: 1;
}

h1,
.page-section-title {
  text-transform: uppercase;
}

h1,
h2 {
  font-family: $life;
}

h3 {
  @include life-sc;
  @include font-size(0.8rem);
}

h1 {
  @include font-size(3rem);
}

h2 {
  @include font-size(2rem);
}

h2.issue__title {
  text-transform: uppercase;
}

h2.sans {
  font-family: $univers;
  text-transform: uppercase;
  @include font-size(1rem);
  em {
    font-family: $univers-italic;
  }
}

header,
footer,
.region-content-related .article-author {
  font-family: $univers;
  -webkit-font-smoothing: antialiased;
}
