@import "../node_modules/rfs/scss";

$rfs-base-font-size: 32px;

body,
p {
  font-family: $sans-font;
  text-rendering: optimizeLegibility;
}

.path-frontpage {
  .short-title {
    font-family: $univers;
    text-transform: uppercase;
    @include font-size(1rem);
  }

  h1 a {
    font-family: $life;
    @include font-size(4rem);
    text-transform: uppercase;
  }
}

header {
  @include font-size(1.2rem);
}
.region-footer-first,
.region-footer-second {
  line-height: 1.4;
  color: $current-color-offwhite;
}

.region-footer-first {
  @include font-size(1rem);
}

.region-footer-second {
  @include font-size(0.9rem);
}

.legal-wrapper {
  @include font-size(0.9rem);
  color: $current-color-gray;
}

.legal-wrapper ul li:first-child {
  padding-right: 1rem;
}

// basic page
.page-node-type-page h1 {
  font-family: $life;
  @include font-size(1.4rem);
}

.page-node-type-page p {
  font-family: $life;
  line-height: 1.2;
}

.page-node-type-page strong {
  font-family: $life-bold;
}

.page-node-type-page em {
  font-family: $life-italic;
}

.page-node-type-article {
  color: $current-color;
  .article-title h1 {
    font-family: $life;
    @include font-size(4rem);
    text-transform: uppercase;
  }
  .article-wrapper {
    .section-title {
      text-transform: uppercase;
      padding-left: 4rem;
    }

    .section-title p {
      box-shadow: 0px 1px 0px 0px $current-color;
      display: inline;
      padding-bottom: 0.2rem;
      letter-spacing: 0.01rem;
    }

    .body p {
      font-family: $life;
      @include font-size(1rem);
      text-align: left;
      text-indent: 0rem;
      line-height: 1.2;

      @include mq($from: mobile) {
        text-indent: 4rem;
        text-align: justify;
        text-justify: inter-character;
        @include font-size(1.2rem);
      }
    }

    .body em {
      font-family: $life-italic;
    }
  }
  .meta-wrapper {
    line-height: 1.2;
    .meta {
      padding-bottom: 1rem;
    }
    .meta:first-child {
      padding-top: 1rem;
    }
    h3 {
      font-family: $univers;
      text-transform: uppercase;
      // box-shadow: 0px 1px 0px 0px $current-color;
      // display: inline;
      // padding-bottom: 0.2rem;
      letter-spacing: 0.01rem;
    }
  }

  .region-content-related .primary-author,
  .region-content-related .dram-content {
    > h2 {
      font-family: $univers;
      text-transform: uppercase;
      box-shadow: 0px 1px 0px 0px $current-color;
      display: inline;
      padding-bottom: 0.2rem;
      letter-spacing: 0.01rem;
      // margin-left: 0;
    }
  }

  .region-content-related .primary-author {
    .biographical-note {
      padding-bottom: 1rem;
    }
  }
}
