@import "../node_modules/rfs/scss";

// $rfs-base-font-size: 18px;

body,
p {
  font-family: $sans-font;
  text-rendering: optimizeLegibility;
}

.path-frontpage {
  .short-title {
    font-family: $univers;
    text-transform: uppercase;
    @include font-size(1rem);
  }

  h1 a {
    font-family: $life;
    @include font-size(4rem);
    text-transform: uppercase;
  }
}

header {
  @include font-size(1.2rem);
}

.region-footer-first {
  @include font-size(1rem);
}

.region-footer-second {
  @include font-size(0.9rem);
}

.region-footer-second .body p {
  @include font-size(0.9rem);
  color: $white;
}

.page-node-type-article {
  color: $current-color;
  .article-title h1 {
    font-family: $life;
    @include font-size(4rem);
    text-transform: uppercase;
  }
  .article-wrapper {
    .section-title {
      text-transform: uppercase;
      padding-left: 4rem;
    }

    .section-title p {
      box-shadow: 0px 1px 0px 0px $current-color;
      display: inline;
      padding-bottom: 0.2rem;
      letter-spacing: 0.01rem;
    }

    .body p {
      font-family: $life;
      @include font-size(1rem);
      text-align: left;
      text-indent: 0rem;
      line-height: 1.2;

      @include mq($from: mobile) {
        text-indent: 4rem;
        text-align: justify;
        text-justify: inter-character;
        @include font-size(1.2rem);
      }
    }

    .body em {
      font-family: $life-italic;
    }
  }
  .meta-wrapper {
    line-height: 1.2;
    .meta {
      padding-bottom: 1rem;
    }
    .meta:first-child {
      padding-top: 1rem;
    }
    h3 {
      font-family: $univers;
      text-transform: uppercase;
      // box-shadow: 0px 1px 0px 0px $current-color;
      // display: inline;
      // padding-bottom: 0.2rem;
      letter-spacing: 0.01rem;
    }
  }

  .region-content-related .primary-author,
  .region-content-related .dram-content {
    > h2 {
      font-family: $univers;
      text-transform: uppercase;
      box-shadow: 0px 1px 0px 0px $current-color;
      display: inline;
      padding-bottom: 0.2rem;
      letter-spacing: 0.01rem;
    }
  }

  .region-content-related .primary-author {
    .biographical-note {
      padding-bottom: 1rem;
    }
  }
}

// .page-node-type-article {

//   .field-article-pre-title {
//     text-align: left;
//     border-bottom: 1px solid $black;
//     font-family: $serif-font;
//     font-size: 2rem;
//     line-height: 1.2;
//   }

//   .field-article-formatted-title,
//   .field-article-primary-author {
//     text-align: center;
//   }

// .field-article-formatted-title {
//     text-transform: uppercase;
//     font-family: $serif-font;
//     font-size: 3rem;
//     line-height: 0.9;
// }

//  .field-article-primary-author {
//     font-family: $sans-font;
//     font-size: 2rem;
//     line-height: 1;
//   }

//   .page-section { // Page section
//     line-height: 1.2;
//     margin: 1rem 0;
//   }
//   .field-section-title {
//     font-family: $univers;
//     text-transform: uppercase;
//     font-size: ms(-2);
//     margin: 1rem 0;

//     p {

//     }
//   }
//   .page-node-type-article {

//   .field-media-image-caption {
//     font-family: $univers;
//     font-size: ms(-1);
//   }

// }
// }

// a {
//   color: #070;
//   text-decoration: none;
// }

// .path-imprint {

//   h2,
//   p {
//     font-family: $sans-font;
//     font-size: ms(0);
//   }

//   h2 {
//     text-transform: uppercase;
//   }

//   a {
//     @include links(orange, blue, yellow, teal, purple);
//   }
// }
