h1 {
  @include font-size(3rem);
  line-height: 1;
  text-transform: uppercase;
  font-family: $life;
}

h2 {
  @include font-size(2rem);
}

h2.article__pre-title {
  font-family: $life;
}

.page-node-type-page .block-page-title h1 {
  @include font-size(2rem);
  text-align: center;
}

h2.issue__title {
  font-family: $life;
  text-transform: uppercase;
}

h3 {
  @include life-sc;
  @include font-size(0.8rem);
  color: $white;
}

h2.block-title {
  margin: 0;
  padding: 0;
  font-family: $univers;
  @include font-size(0.9rem);
  em {
    font-family: $univers-italic;
  }
}

h2.sans {
  font-family: $univers !important;
  text-transform: uppercase;
  @include font-size(1rem);
  em {
    font-family: $univers-italic;
  }
}

.distribution .body h2 {
  @include font-size(1.2rem);
}
