{% extends "region.html.twig" %}

{% if content %}
	{% block content %}

		<button class='hamburger hamburger--minus' type='button'>
			<span class='hamburger-box'>
				<span class='hamburger-inner'></span>
			</span>
		</button>


		{# <div class="legal__col-1">{{ drupal_entity('block_content', '262') }}</div> #}

		{{ drupal_block('system_branding_block') }}
		{{ drupal_view('issue_index', 'issue_title_header') }}

		<div class="legal__col-2">{{ drupal_menu('subscribe') }}</div>


	{% endblock %}
{% endif %}
