{% extends "region.html.twig" %}

{% if content %}
	{% block content %}

		<button class='hamburger hamburger--minus' type='button'>
			<span class='hamburger-box'>
				<span class='hamburger-inner'></span>
			</span>
		</button>

		{{ parent() }}

	{% endblock %}
{% endif %}
